<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Dashboard - Admin</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
	<meta name="author" content="" />
	
	

	<style>
		.btn,
		.btn-group {
			margin: 0 10px 15px 0;
		}

		.btn-block {
			margin-right: 0;
			margin-left: 0;
		}

		.btn-group .btn {
			margin: 0;
		}
	</style>
	<script>
		var basedomain = "{$basedomain}";
	</script>
</head>