@font-face{ 
	font-family: 'Collaborate-Regular';
	src: url('../font/collaborate/regular/ColabReg-webfont.eot');
	src: url('../font/collaborate/regular/ColabReg-webfont.eot?iefix') format('eot'),
	     url('../font/collaborate/regular/ColabReg-webfont.woff') format('woff'),
	     url('../font/collaborate/regular/ColabReg-webfont.ttf') format('truetype'),
	     url('../font/collaborate/regular/ColabReg-webfont.svg#ColabReg-webfont') format('svg');
}

*{
    border: 0;
    margin: 0;
    outline: none;
}

body{
    margin:0;
	padding:0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-color: #efefef;
}

a{text-decoration: none;}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.clear{clear: both;}

.search-box input{
    width: 200px;
    border: 1px solid #00adbb;
    border-right: none;
    padding: 6px;
}

.search-box button{
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    padding: 6px;
    background-color: #00adbb;
    margin: -3px;
    color: #FFFFFF;
}

.btn{
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    background-color: #00adbb;
    border: 1px solid #0095a2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.btn:hover{
    background-color: #0095a2;
}

.content{
    background-color: #FFFFFF;
    margin: 15px 0;
    padding: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 #DEDEDE;
    box-shadow: 0 0 5px 0 #DEDEDE;
}

header{
    height: 35px;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-top: 3px solid #00adbb;
}

header #identity{
        float: left;
}
       #identity span#flora{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #494949;
       }
       #identity span#kalbar{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #00adbb;
       }
       
header #slogan{
        float: left;
        margin-left: 20px;
        border-left: 1px solid #CCCCCC;
        padding: 10px;
}
        #slogan p{
            font-size: 14px;
            color: #AAAAAA;
        }
        
header #search{
    float: right;
    padding-top: 5px;
}

nav{
    background-color: #FFFFFF ;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
nav #nav-box{
    color: rgba(255, 255, 255, 0.701961);
    background-image: url(../img/bg_noise.png);
    background-position: 0% 0%;
    background-repeat: repeat;
    -webkit-box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    filter: none;
    padding: 5px 8px;
    background-color: rgb(27, 27, 27);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 3px solid #00adbb;
}

nav #nav-box #menu{
        float: left;
}
nav #nav-box #menu ul{
            list-style: none;
            margin: 0 auto;
            padding: 0px;
            width: 100%;
}
nav #nav-box #menu li{
            float: left;
            text-align: center;
    
}
nav #nav-box #menu li a{
            padding: 0 15px;
            margin-right: 5px;
            color: #FFFFFF;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            line-height: 3;
            display: block;
            -webkit-transition: background 350ms ease-in-out;
            -moz-transition: background 350ms ease-in-out;
            -ms-transition: background 350ms ease-in-out;
            -o-transition: background 350ms ease-in-out;
            transition: background 350ms ease-in-out;
}

nav #nav-box #menu li.selected a{
            color: #00adbb;
}

nav #nav-box #menu li a:hover{
            background-color: #00adbb;
            color: #FFFFFF;
}

nav #nav-box #login{
        float: right;
        margin-top: 3px;
}

nav #nav-box #login .signup, #nav-box #login .login{
            border-radius: 3px 0px 0px 3px;
            -webkit-border-radius: 3px 0px 0px 3px;
            float: left;
}
nav #nav-box #login .login{
            border-radius: 0px 3px 3px 0px;
            -webkit-border-radius: 0px 3px 3px 0px;
            float: left;
}

main{
    min-height: 500px;
}

footer{
    background-color: #333333;
    border-top: 3px solid #00adbb;
    text-align: center;
    padding: 30px 0;
    color: #A1A1A1;
}