@font-face{ 
	font-family: 'Collaborate-Regular';
	src: url('../font/collaborate/regular/ColabReg-webfont.eot');
	src: url('../font/collaborate/regular/ColabReg-webfont.eot?iefix') format('eot'),
	     url('../font/collaborate/regular/ColabReg-webfont.woff') format('woff'),
	     url('../font/collaborate/regular/ColabReg-webfont.ttf') format('truetype'),
	     url('../font/collaborate/regular/ColabReg-webfont.svg#ColabReg-webfont') format('svg');
}

*{
    border: 0;
    margin: 0;
    outline: none;
}

body{
    margin:0;
	padding:0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-color: #efefef;
}

a{text-decoration: none;}

h2.title{
    font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
    font-size: 25px;
    color: #00adbb;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

input[type="file"]#zip_file{
    border: 1px solid #ccc;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.clear{clear: both;}

.search-box input{
    width: 200px;
    border: 1px solid #00adbb;
    border-right: none;
    padding: 6px;
}

.search-box button{
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    padding: 6px;
    background-color: #00adbb;
    margin: -3px;
    color: #FFFFFF;
}

.btn{
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    background-color: #00adbb;
    border: 1px solid #0095a2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

input.btn, button.btn{
    padding: 5px 10px;
}

.btn:hover{
    background-color: #0095a2;
}

.inputbox,.textareabox{
    padding: 5px;
    border: 1px solid #0095a2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-width: 200px;
}
table.form-tbl{border-spacing:0;}
table.form-tbl td{padding: 10px;}
table.form-tbl tr:hover{background-color: #A0CDD1;}

.content{
    background-color: #FFFFFF;
    margin: 15px 0;
    padding: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 #DEDEDE;
    box-shadow: 0 0 5px 0 #DEDEDE;
}

header{
    height: 35px;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-top: 3px solid #00adbb;
}

header #identity{
        float: left;
}
       #identity span#flora{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #494949;
       }
       #identity span#kalbar{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #00adbb;
       }
       
header #slogan{
        float: left;
        margin-left: 20px;
        border-left: 1px solid #CCCCCC;
        padding: 10px;
}
        #slogan p{
            font-size: 14px;
            color: #AAAAAA;
        }
        
header #login{
        float: right;
        margin-top: -30px;
}

header #login .signup, #login .login{
            border-radius: 3px 0px 0px 3px;
            -webkit-border-radius: 3px 0px 0px 3px;
            border: none;
            float: left;
}
header #login .login{
            border-radius: 0px 3px 3px 0px;
            -webkit-border-radius: 0px 3px 3px 0px;
            border-left: 1px solid #0095a2;
            float: left;
}
header #login .welcome{
            float: left;
}

nav{
    background-color: #FFFFFF ;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
nav #nav-box{
    color: rgba(255, 255, 255, 0.701961);
    background-image: url(../img/bg_noise.png);
    background-position: 0% 0%;
    background-repeat: repeat;
    -webkit-box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    filter: none;
    padding: 5px 8px;
    background-color: rgb(27, 27, 27);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 3px solid #00adbb;
}

nav #nav-box #menu{
        float: left;
}
nav #nav-box #menu ul{
            list-style: none;
            margin: 0 auto;
            padding: 0px;
            width: 100%;
}
nav #nav-box #menu li{
            float: left;
            text-align: center;
    
}
nav #nav-box #menu li a{
            padding: 0 15px;
            margin-right: 5px;
            color: #FFFFFF;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            line-height: 3;
            display: block;
            -webkit-transition: background 350ms ease-in-out;
            -moz-transition: background 350ms ease-in-out;
            -ms-transition: background 350ms ease-in-out;
            -o-transition: background 350ms ease-in-out;
            transition: background 350ms ease-in-out;
}

nav #nav-box #menu li.selected a{
            color: #00adbb;
}

nav #nav-box #menu li a:hover{
            background-color: #00adbb;
            color: #FFFFFF;
}

nav #nav-box #search{
    float: right;
    padding-top: 5px;
}

main{
    min-height: 450px;
}

/** MODAL CSS **/
.modal-background{
    background: url('../img/overlay.png');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.modal-dialog{
    margin: 5% auto;
    width: 375px;
}

.modal-content{
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0;
    background-clip: padding-box;
}

.modal-content .modal-header{
    background-color:  #00adbb;
    padding: 15px;
    border-bottom: 3px solid #CCCCCC;
    text-align: center;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.modal-content .modal-header h4{
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 10px;       
}
.modal-content .modal-header button{
        float: right;
        background: none;
        font-size: 16px;
        color: #CCC;
        font-weight: bold;
        cursor: pointer;    
}
.modal-content .modal-header button:hover{
        color: #AAAAAA;
}

.modal-content .modal-body{
    background-color: #DDDDDD;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}
.modal-content .modal-body .form-group{
        margin-bottom: 10px;
}
.modal-content .modal-body input{
        width: 330px;
}

.modal-content .modal-footer{
    background-color: rgb(27, 27, 27);
    border-top: 3px solid #00adbb;
    padding: 15px;
    text-align: right;
    font-size: 11px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
}
.modal-content .modal-footer a{
    color: #00adbb;
}
.modal-content .modal-footer a:hover{
    text-decoration: underline;
}
.input-modal {
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;    
}

/** END MODAL CSS **/

.error{
    background-color: #FF0202;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    margin-left: 355px;
    margin-top: -32px;
    position: absolute;
    width: 40%;
}
.error:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FF0202;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

footer{
    background-color: #333333;
    border-top: 3px solid #00adbb;
    text-align: center;
    padding: 30px 0;
    color: #A1A1A1;
}