@font-face{ 
	font-family: 'Collaborate-Regular';
	src: url('../font/collaborate/regular/ColabReg-webfont.eot');
	src: url('../font/collaborate/regular/ColabReg-webfont.eot?iefix') format('eot'),
	     url('../font/collaborate/regular/ColabReg-webfont.woff') format('woff'),
	     url('../font/collaborate/regular/ColabReg-webfont.ttf') format('truetype'),
	     url('../font/collaborate/regular/ColabReg-webfont.svg#ColabReg-webfont') format('svg');
}

*{
    border: 0;
    margin: 0;
    outline: none;
}

body{
    margin:0;
	padding:0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    background-color: #efefef;
}

a{text-decoration: none;}
p{margin:0 !important;}

h2.title{
    font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
    font-size: 25px;
    color: #00adbb;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

input[type="file"]#zip_file{
    border: 1px solid #ccc;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.clear{clear: both;}

.search-box input{
    border: 1px solid #00adbb;
    border-right: none;
    padding: 5px;
}

.search-box button{
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    padding: 6px;
    background-color: #00adbb;
    margin: -3px;
    color: #FFFFFF;
}

.btn-search{
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    padding: 6px;
    background-color: #00adbb;
    margin: -3px;
    color: #FFFFFF;
}

.btn{
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
    background-color: #00adbb;
    border: 1px solid #0095a2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input.btn, button.btn{
    padding: 5px 10px;
}

.btn:hover{
    background-color: #0095a2;
}

.btn-pagination{
    padding: 5px 10px !important;
}

.inputbox,.textareabox{
    padding: 5px;
    border: 1px solid #0095a2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 200px;
}
textarea.areaStep{width:330px;}
select.inputbox{min-width:213px;}
select.selectStep{min-width: 342px;}
input[type=file]{width:200px;}
table.form-tbl{border-spacing:0;}
table.form-tbl td{padding: 10px;}
table.form-tbl tr:hover{background-color: #A0CDD1;}

.content{
    background-color: #FFFFFF;
    margin: 15px 0;
    padding: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 #DEDEDE;
    box-shadow: 0 0 5px 0 #DEDEDE;
}

header{
    height: 35px;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-top: 3px solid #00adbb;
}

header #identity{
        float: left;
}
       #identity span#flora{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #494949;
       }
       #identity span#kalbar{
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            font-size: 36px;
            color: #00adbb;
       }
       
header #slogan{
        float: left;
        margin-left: 20px;
        border-left: 1px solid #CCCCCC;
        padding: 10px;
}
        #slogan p{
            font-size: 14px;
            color: #AAAAAA;
        }
        
header #login{
        position: absolute;
        margin-top: -30px;
        right: 135px;
}

header .loginwelcome{
        margin-top: -20px !important;
}

header #login .signup, #login .login{
            border-radius: 3px 0px 0px 3px;
            -moz-border-radius: 3px 0px 0px 3px;
            -webkit-border-radius: 3px 0px 0px 3px;
            border: none;
            float: left;
}
header #login .login{
            border-radius: 0px 3px 3px 0px;
            -moz-border-radius: 0px 3px 3px 0px;
            -webkit-border-radius: 0px 3px 3px 0px;
            border-left: 1px solid #0095a2;
            float: left;
}
header #login .welcome{
            border-radius: 0 0 15px 15px;
            -moz-border-radius: 0 0 15px 15px;
            -webkit-border-radius: 0 0 15px 15px;
}

header #login .drop{
            border-radius: 0 0 0 15px;
            -moz-border-radius: 0 0 0 15px;
            -webkit-border-radius: 0 0 0 15px;
}

header #login #box-user{
        position: relative;
        top: 10px;
        display: none;
}
header #login #box-user ul{
            background-color: #00adbb;
            border: 1px solid #0095a2;
            border-top: none;
            list-style: none;
}
header #login #box-user ul li{
                margin: 0;
                cursor: pointer;
}
header #login #box-user ul li:hover{
                background-color: #0095a2;
}
header #login #box-user ul li a{
                padding: 10px 25px;
                color: #FFFFFF;
                display: block;
}

nav{
    background-color: #FFFFFF ;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
}
nav #nav-box{
    color: rgba(255, 255, 255, 0.701961);
    background-image: url(../img/bg_noise.png);
    background-position: 0% 0%;
    background-repeat: repeat;
    -webkit-box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    box-shadow: rgba(27, 27, 27, 0.4) 1px 1px 10px;
    filter: none;
    padding: 5px 8px;
    background-color: rgb(27, 27, 27);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 3px solid #00adbb;
}

nav #nav-box #menu{
        float: left;
}
nav #nav-box #menu ul{
            list-style: none;
            margin: 0 auto;
            padding: 0px;
            width: 100%;
}
nav #nav-box #menu li{
            float: left;
            text-align: center;
    
}
nav #nav-box #menu li a{
            padding: 0 15px;
            margin-right: 5px;
            color: #FFFFFF;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Collaborate-Regular',Helvetica,Arial,sans-serif;
            line-height: 3;
            display: block;
            -webkit-transition: background 350ms ease-in-out;
            -moz-transition: background 350ms ease-in-out;
            -ms-transition: background 350ms ease-in-out;
            -o-transition: background 350ms ease-in-out;
            transition: background 350ms ease-in-out;
}

nav #nav-box #menu li.selected a{
            color: #00adbb;
}

nav #nav-box #menu li a:hover{
            background-color: #00adbb;
            color: #FFFFFF;
}

nav #nav-box #search-menu{
    float: right;
    padding-top: 5px;
}

main{
    min-height: 450px;
}

/** MODAL CSS **/
.modal-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-overlay{
    background: #111111;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-dialog{
    margin: 5% auto;
    width: 375px;
    z-index: 999;
}

.modal-content{
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    outline: 0;
    background-clip: padding-box;
}

    .dialogStep{
        width: 475px;
    }

.modal-content .modal-header{
    background-color:  #00adbb;
    padding: 15px;
    border-bottom: 3px solid #CCCCCC;
    text-align: center;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0 0;
}
.modal-content .modal-header h4{
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 10px;       
}
.modal-content .modal-header button{
        float: right;
        background: none;
        font-size: 16px;
        color: #CCC;
        font-weight: bold;
        cursor: pointer;    
}
.modal-content .modal-header button:hover{
        color: #AAAAAA;
}

.modal-content .modal-body{
    background-color: #DDDDDD;
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}
    .bodyStep{
        background-color: #FFFFFF !important;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
        border-radius: 14px;
        background-color: white;
    }
    ::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        border-radius: 14px;
    }
    
.modal-content .modal-body .form-group{
        margin-bottom: 10px;
}
.modal-content .modal-body input{
        width: 330px;
}

.modal-content .modal-footer{
    background-color: rgb(27, 27, 27);
    border-top: 3px solid #00adbb;
    padding: 15px;
    text-align: right;
    font-size: 11px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
}
.modal-content .modal-footer a{
    color: #00adbb;
}
.modal-content .modal-footer a:hover{
    text-decoration: underline;
}
.input-modal {
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;    
}

.closebtn{
    position: absolute;
    top: 58px;
    right: 378px;
    display: block;
    background: url(../img/messages/close.png) no-repeat top center;
    width: 38px;
    height: 19px;
    z-index: 9999;
    cursor: pointer;
}

/** END MODAL CSS **/

.florakb-error{
    background-color: #FF0202;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    margin-left: 355px;
    margin-top: -32px;
    position: absolute;
    width: 40%;
}
.florakb-error:before {
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FF0202;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

table.browse{
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0px 5px #ccc;
    -moz-box-shadow: 0 0px 5px #ccc;
    box-shadow: 0 0px 5px #ccc;
    border-spacing: 0;
    width: 100%;
}
table.browse th:first-child {
        -moz-border-radius: 6px 0 0 0;
        -webkit-border-radius: 6px 0 0 0;
        border-radius: 6px 0 0 0;
}
table.browse th:last-child {
        -moz-border-radius: 0 6px 0 0;
        -webkit-border-radius: 0 6px 0 0;
        border-radius: 0 6px 0 0;
}
table.browse th {
        background-color: #65B5BB;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: none;
        color: #FFFFFF;
}
table.browse tr:last-child td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
}
table.browse tr:last-child td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
}
table.browse tr:hover {
        background: #fbf8e9;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;    
} 
table.browse td {
        border-top: 1px solid #ccc;
}
table.browse td, table.browse th {
        padding: 15px 10px;
        border-left: 1px solid #ccc;
        text-align: left;
}
table.indiv th:first-child {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
}
table.det{width: 100%;}
table.det td {border:none;padding:2px;}
table.det td.detNumber, table.det td.detColon{width: 1%;}
table.det td.detHeader{width: 15%;}
table.det td.detContent{width: 70%;}

#search{
    float: right;
    margin-bottom: 15px;
}

.sidebar-2-left{
    width: 28%;
    float: left;
}

.sidebar-2-left ul, .sidebar-2-left ul.step{
        list-style: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;      
        margin-right: 10px;
}
.sidebar-2-left ul li, .sidebar-2-left ul.step li{
            background-color: #E4E5E6;
            border-bottom: 1px solid #F5F2F2;
} 
.sidebar-2-left ul li:hover,.sidebar-2-left ul li.selected:hover{
            background-color: #E4E5E6;
}
.sidebar-2-left ul.step li.selected:hover{background-color: #00adbb;}
.sidebar-2-left ul li:first-child, .sidebar-2-left ul.step li:first-child{
            -moz-border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;  
            background-color: #333333;
            color: #FFFFFF;   
            font-weight: bold;  
            border: none;    
            padding: 15px 15px 15px 30px;
}
.sidebar-2-left ul li:last-child,.sidebar-2-left ul.step li:last-child, .sidebar-2-left ul a:last-child{
            -moz-border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
            border: none;          
}
.sidebar-2-left ul li a, .sidebar-2-left ul.step li p{
                width: 203px;
                height: 100%;
                display: block;
                padding: 15px 15px 15px 30px;
                color: #333333;
                margin: 0;
}
.sidebar-2-left ul li a:focus{background-color: #E4E5E6;}
.sidebar-2-left ul li.selected{background-color: #00adbb;} 
.sidebar-2-left ul li.selected a, .sidebar-2-left ul.step li.selected p{color: #FFFFFF;}
.sidebar-2-left ul li a:hover{color: #00adbb;}

.sidebar-2-right{
    width: 68%;
    float: right;
    margin-left: 10px;
}

div.btn-back {
    float:right;
}

div.btn-back a {
    background: #65B5BB;
    border: solid #0095a2;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 2px;
    padding: 0 7px 0 3px;
    position: relative;
    text-decoration: none;
}

div.btn-back a:before {
    background: #65B5BB;
    border: solid #0095a2;
    border-width: 0 0 1px 1px;
    border-radius: 2px 0 2px 2px;
    content: '';
    display: block;
    height: 21px;
    left: -11px;
    position: absolute;
    top: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}

div.btn-back a:hover, a:focus {
    border-color: #0095a2;
    background: #0095a2;
}

div.btn-back a:hover:before, a:focus:before {
    border-color: #0095a2;
    background: #0095a2;
}

div.btn-back a span {
    color: #fff;
    font-weight: bold;
    position: relative;
}

footer{
    background-color: #333333;
    border-top: 3px solid #00adbb;
    text-align: center;
    padding: 30px 0;
    color: #A1A1A1;
}