<h2 class="title">Determinants</h2>
    <table class="browse indiv">
        <tr>
            <th style="-moz-border-radius: 6px 0 0 6px;-webkit-border-radius: 6px 0 0 6px;border-radius: 6px 0 0 6px;width: 100px;">Dets</th>
            <td>
                   
                    <table id="editDet" class="det">
                        {foreach $indiv as $dataIndiv}
                        {foreach from=$det key=myId item=dataDet}
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataDet['name']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataDet['det_date']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Species</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['sp']}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confid</b></td>
                            <td>:</td>
                            <td>{$dataDet['confid']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Using</b></td>
                            <td>:</td>
                            <td>{$dataDet['using']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td>{$dataDet['notes']}</td>
                            <td>
                                {if $user.login && $dataDet.personID eq $user.login.id || $dataIndiv.id eq $user.login.id}
                                    <a href="{$basedomain}browse/deleteDet/?id={$dataDet.detID}&&indivID={$dataDet.indivID}&&action=delDetOwn" id="deleteDet" class="btn" style="float: right; margin-left: 10px;;">Delete</a>
                                {/if}
                            </td>
                        </tr>
                        {foreachelse}<i>No determinant available</i>
                        {/foreach}
                        {/foreach}
                    </table>
            </td>            
        </tr>
    </table>
    <br />
    <div id="tableAddDet" style="display: none;">
        <h2 class="title">Add Determinant</h2>
        <form id="formDet" method="POST" action="{$basedomain}browse/addDet/?id={$smarty.get.id}&&action=addDet">
        <table id="addDet" class="form-tbl">
        <tbody id="inputTaxon" style="display: none;">
            <tr>
                <td colspan="2"><label for="">Taxon :</label></td>
                <td>
                    <input type="hidden" id="taxonID" name="taxonID" value=""/>
                    <input class="inputbox" type="text" id="labelTaxon"  disabled="disabled" />
                    <a class="btn" id="resetTaxon">Reset</a>
                </td>
            </tr>
        </tbody>
        <tbody id="autoCompleteTaxon"> <!-- INPUT AUTO COMPLETE TAXON -->
            <tr id="inputFamily">
                <td><b>Taxon</b></td>
                <td><label for="">Family</label></td>
                <td>
                    <input class="inputbox" type="hidden" id="kewid" name="kewid" value=""/>
                    <input class="inputbox" type="text" id="autoFamily" name="family" />
                </td>
                <td><a class="btn" id="nextGenus">Next</a></td>
                <td><a href="#taxon-modal" class="btn" id="taxonPopup">New Taxon</a></td>
            </tr>
            <tr id="inputGenus" style="display: none;">
                <td></td>
                <td><label for="">Genus</label></td>
                <td>
                    <input class="inputbox" type="text" id="autoGenus" name="genus" />
                </td>
                <td><a class="btn" id="nextSpecies">Next</a></td>
            </tr>
            <tr id="inputSpecies" style="display: none;">
                <td></td>
                <td><label for="">Species</label></td>
                <td>
                    <input class="inputbox" type="text" id="autoSpecies" name="species" />
                </td>
            </tr>
        </tbody> <!-- END INPUT AUTO COMPLETE TAXON -->
            <tr>
                <td colspan="2"><b>Confidence of determination</b></td>
                <td style="width: 215px;;">
                    <select class="inputbox" name="confid" id="confid">
                        <option value="" selected="1">Choose a level of confidence</option>
                        {foreach from=$confid_enum item=enum}confid
                            <option value="{$enum}">{$enum}</option>
                        {/foreach}
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><b>Resources used</b></td>
                <td><input class="inputbox" type="text" id="using" name="using" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><b>Determinant creator</b></td>
                <td>
                    <select class="inputbox" name="personID" id="personID">
                        <option value="">Choose a person</option>
                        {foreach from=$person item=itemPerson}
                            <option value="{$itemPerson.id}">{$itemPerson.name}</option>
                        {/foreach}
                    </select>
                </td>
                <td><a href="#person-modal" class="btn" id="personPopup">Add</a></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><b>Notes</b></td>
                <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td></td>
                <td><input class="btn" type="submit" value="Submit" /></td>
                <td></td>
            </tr>
        </table>
        </form>
        </div>
            <br/>
                       
    <a href="#addDeterminant" class="btn" id="addDet" style="float: right;">Add Determinant</a>
    <div class="clear"></div>
    
<script type="text/javascript">
    $(document).on('click','#deleteDet', function(){
            var msg = confirm('Are you sure to delete ?');
            if (!msg) return false;    
        });
    
    $('a#addDet').click(function(){
       $('div#tableAddDet').fadeToggle("linear");
       $('html,body').animate({ scrollTop: $('body').height() }, 800);
       return false;
    });
    
    $("#formDet").validate({
        rules: {
			confid: {
                required: true
			},
            using: {
                required: true
            },
            taxonID: {
                required: true
            },
            personID: {
                required: true
            }
		},
		messages: {
			confid: {
                required: " Please choose a level"
			},
            using: {
                required: " Please enter a resource"
            },
            /*taxonID: {
                required: " Please choose a taxonomy"
            },*/
            taxonID: {
                required: " Please choose a person"
            }
		}
    });
    
    
    
    
</script>