<!--<div>
    <div class="errorbox"></div>
    Upload Zip :
    <form onsubmit="return validateFormUpload();" id="upload_file" method="POST" action="{$basedomain}upload/zip" enctype="multipart/form-data">
        <label for="username">Username :</label>
        <input name="username" id="username" />
        <label for="zip_file">Zip File :</label>
        <input name="imagezip" id="zip_file" type="file" />
        <input id="box_button" type="submit" value="Submit" />
    </form>
    <div id="progressbox">
        <div id="progressbar">
            <div id="statustxt">
                <p></p>
            </div>
            <div id="report"></div>
        </div>
    </div>
</div> -->
<style>
    .progress { position:relative; width:400px; border: 0px solid #ddd; padding: 1px; border-radius: 3px; }
    .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
    .percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="florakb-content">
        <h3>Batch Upload</h3>
        
        <!-- STEP WIZARD -->
        <div class="wizard">
            <a class="current"><span class="badge">1</span> Upload Excel</a>
            <a><span class="badge">2</span> Extract Zip</a>
        </div>
        
        <!-- FORM UPLOAD -->
        <div id="status"></div>
        <a class="pull-right btn florakb-btn" href="{$basedomain}template/spreadsheet.xls">Download Template</a>
        <form method="POST" action="{$basedomain}upload/parseExcel" enctype="multipart/form-data" id="uploadExcel" class="form-horizontal" role="form">
        
            <div class="form-group">
                <label for="zip_file" class="col-sm-2 control-label">Browse Excel File :</label>
                <div class="col-sm-5">
                    <input type="file" id="zip_file" class="form-control" name="excelfile" size="20" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                  <button type="submit" class="btn florakb-btn" id="box_button">Submit</button>
                </div>
            </div>  

        </form>
        
        <div id="results"></div>
        <!--<div class="progress" style="margin-top: 15px;">
            {*}<div class="bar"></div >
            <div class="percent">0%</div >{/*}
        </div>-->
    </div>
</div>

{literal}
<script type="text/javascript">

    (function() {
       
    });
        var first_error = '<div class="messages erroren"><a href="#" class="closeMessage"></a><p>';
        var first_info = '<div class="messages info"><a href="#" class="closeMessage"></a><p>';
        var first_success = '<div class="messages success"><a href="#" class="closeMessage"></a><p>';
        var first_warning = '<div class="messages warning"><a href="#" class="closeMessage"></a><p>';
        var end = '</p></div>';
            
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
    
    
    /*
    
    $(document).ready(function(){
        
        $.post(basedomain+'upload/showUploadProcess', {param:true}, function(data){

            var lastSize = data.size;

            setInterval(function(){

                // if(lastSize){
                    $.getJSON(basedomain+'upload/showUploadProcess/?ajax=1&lastsize='+lastSize, function(data) {
                        lastSize = data.size;
                        $.each(data.data, function(key, value) {
                                $("#results").append('' + value + '<br/>');
                        });
                   
                    });

                // }
                

             },3000);
            
        },"JSON"); 


    })
     
    */

    /*
    $('#uploadExcel').ajaxForm({
        beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            bar.width(percentVal)
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            var zip_file = $('#zip_file').val();
            if (zip_file){
                bar.width(percentVal)
                percent.html(percentVal);
            }
            
        },
        success: function() {
            var percentVal = '100%';
            var zip_file = $('#zip_file').val();
            
            if (zip_file){
                bar.width(percentVal)
                percent.html(percentVal);
            }
        },
        complete: function(xhr) {
            status.html(first_info + xhr.responseText + end);
        }
    }); 
    
    */
    
    
    var uploadXlsFile = {
        dataType:  'json',  
        beforeSubmit: function(data) { 
             
        // $(".progress").html("Please wait ..."); 
        // status.html(first_info + 'Please Wait ...' + end);     
        $('#status').html(first_info + 'Please Wait ...' + end); 
        },
        success : function(data) {}, 
        complete: function(xhr) {
            
            $(".progress").html('');

            var resultExtract = JSON.parse(xhr.responseText);
            if(resultExtract.status){
                
                $('#status').html(first_success + resultExtract.msg + end);

                if (resultExtract.finish){
                    
                    setTimeout(function(){
                        window.location.href=basedomain+'zip';
                    },2000);
                }
                

            }else{

                $('#status').html(first_error + resultExtract.msg + end);
            }

            // $(".progress").html('');
            // status.html(first_info + xhr.responseText + end);
        }
    };                  

    $("#uploadExcel").ajaxForm(uploadXlsFile);

</script>
{/literal}