<div class="content">
    {foreach $taxonName as $title}
        <h2 class="title">{$title['sp']}</h2>
    {/foreach}
    
    {foreach $data as $dataIndiv}
    <div id="search">  
        <form role="form">
            <div class="search-box">
              <input type="text" placeholder="Search" />
              <button class="btn btn-search" type="button">Search</button>
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    
    <table class="browse">
        <thead>
            <tr>
                <th>Indiv Code</th>
                <th>Location</th>
                <th>Creator</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataIndiv}
            <tr>
                <td><i><a href="{$basedomain}browse/indivDetail/?id={$dataIndiv['indiv']['indivID']}">{$dataIndiv['indiv']['indivID']}</a></i></td>
                <td>{$dataIndiv['indiv']['province']}</td>
                <td>{$dataIndiv['indiv']['name']}</td>
                <td>
                    {foreach $dataIndiv['img'] as $img}
                     <a class="gallery{$dataIndiv['indiv']['indivID']}" href="{$basedomain}public_assets/img/500px/{$img['md5sum']}.500px.jpg"><img src="{$basedomain}public_assets/img/100px/{$img['md5sum']}.100px.jpg" /></a>
                     
                     {foreachelse}<i>No image available</i>
                        
                    {/foreach}
                </td>
            </tr>
            <script type="text/javascript">
            var a = "{$dataIndiv['indiv']['indivID']}";
            {literal}
                $('a.gallery'+a).colorbox({ opacity:0.5 , rel:'group'+a });
            {/literal}
            </script>
            {/foreach}
        </tbody>
    </table>
    {foreachelse}<i>No data available</i>
    {/foreach}
    
</div>
