<div class="content">
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <h2 class="title">Search Data</h2>
    
    {if $noData eq 'empty'}
        <i>No result found</i>
    {else}
    <i>{$noData} data found</i>
    <div id="search">  
        <form role="form" action="{$basedomain}browse/searchLocn/" method="GET">
            <div class="search-box">
              <input type="text" placeholder="Search" name="search" />
              <input class="btn-search" type="submit" value="Search" />
              
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    <table class="browse">
        <thead>
            <tr>
                <th>Longitude Latitude</th>
                <th>Elevation</th>
                <th>Geomorph</th>
                <th>Locality</th>
                <th>County</th>
                <th>Province</th>
                <th>Island</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataLocn}
            <tr>
                <td>{$dataLocn.longitude},{$dataLocn.longitude}</td>
                <td>{$dataLocn.elev}</td>
                <td>{$dataLocn.geomorph}</td>
                <td>{$dataLocn.locality}</td>
                <td>{$dataLocn.county}</td>
                <td>{$dataLocn.province}</td>
                <td>{$dataLocn.island}</td>
                <td>{$dataLocn.country}</td>
                <td><a href="{$basedomain}browse/indiv/?id={$dataLocn.id}&&action=indivLocn" class="btn">Detail</a></td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/if}
</div>
