<div class="content">
    <h2 class="title">Browse Data</h2>
    
    <div id="search">  
        <form role="form">
            <div class="search-box">
              <input type="text" placeholder="Search" />
              <button class="btn btn-search" type="button">Search</button>
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    
    <table class="browse">
        <thead>
            <tr>
                <th>Species</th>
                <th>Genus</th>
                <th>Family</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
        {foreach $taxon as $dataTaxon}
        
            <tr>
                <td><i>{$dataTaxon['sp']}</i></td>
                <td>{$dataTaxon['gen']}</td>
                <td>{$dataTaxon['fam']}</td>
                <td>Species</td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>
