<div class="content">    
    <h2 class="title">Browse Data Location</h2>
    
    {if $noData eq 'empty'}
        <div class="btn-back">
            <a href="#" onClick="history.back();return false;"><span>Back</span></a>
        </div>
        <div class="clear"></div>
        <br />
        <i>No data available</i>
    {else}
    <div id="search">  
        <form role="form" action="{$basedomain}browse/searchLocn/" method="GET">
            <div class="search-box">
              <input type="text" placeholder="Search" name="search" />
              <input class="btn-search" type="submit" value="Search" />
              
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    <table class="browse">
        <thead>
            <tr>
                <th>Longitude Latitude</th>
                <th>Elevation</th>
                <th>Geomorph</th>
                <th>Locality</th>
                <th>County</th>
                <th>Province</th>
                <th>Island</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $result as $dataLocn}
            <tr>
                <td>{$dataLocn.longitude},{$dataLocn.latitude}</td>
                <td>{$dataLocn.elev}</td>
                <td>{$dataLocn.geomorph}</td>
                <td>{$dataLocn.locality}</td>
                <td>{$dataLocn.county}</td>
                <td>{$dataLocn.province}</td>
                <td>{$dataLocn.island}</td>
                <td>{$dataLocn.country}</td>
                <td><a href="{$basedomain}browse/indiv/?id={$dataLocn.id}&&action=indivLocn" class="btn">Detail</a></td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/if}
    
    <br />
    
    {if $noData eq 'empty'}
    {else}
    
    <div align="center">
        {if $pageno eq '1'}
            <button class="btn btn-pagination">FIRST</button> <button class="btn">PREV</button>
        {else}
            <a href='{$basedomain}browse/dataLocation/?pageno=1' class="btn btn-pagination">FIRST</a>
            {$prevpage = $pageno-1}
            <a href='{$basedomain}browse/dataLocation/?pageno={$prevpage}' class="btn btn-pagination">PREV</a>
        {/if}
        Page {$pageno} of {$lastpage}
        {if $pageno eq $lastpage}
            <button class="btn btn-pagination">NEXT</button> <button class="btn btn-pagination">LAST</button>
        {else}
            {$nextpage = $pageno+1}
            <a href='{$basedomain}browse/dataLocation/?pageno={$nextpage}' class="btn btn-pagination">NEXT</a>
            <a href='{$basedomain}browse/dataLocation/?pageno={$lastpage}' class="btn btn-pagination">LAST</a>
        {/if}
    {/if}
    </div>
</div>
