<div class="content">
    {$msg}
    {if $noData eq 'empty'}
        <i>No data available</i>
    {else}
    
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <table class="browse indiv">
        {foreach $indiv as $dataIndiv}
        <tr>
            <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width:100px;">Creator</th>
            <td><p>{$dataIndiv['name']}</p></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <table class="det">
                    <tr>
                        <td style="width: 4%;">Longitude</td>
                        <td>:</td>
                        <td style="width: 92%;">{$dataIndiv.longitude}</td>
                    </tr>
                    <tr>
                        <td>Latidude</td>
                        <td>:</td>
                        <td>{$dataIndiv.latitude}</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td>:</td>
                        <td>{$dataIndiv.elev}</td>
                    </tr>
                    <tr>
                        <td>Geomorph</td>
                        <td>:</td>
                        <td>{$dataIndiv.geomorph}</td>
                    </tr>
                    <tr>
                        <td>Locality</td>
                        <td>:</td>
                        <td>{$dataIndiv.locality}</td>
                    </tr>
                    <tr>
                        <td>County</td>
                        <td>:</td>
                        <td>{$dataIndiv.county}</td>
                    </tr>
                    <tr>
                        <td>Province</td>
                        <td>:</td>
                        <td>{$dataIndiv.province}</td>
                    </tr>
                    <tr>
                        <td>Island</td>
                        <td>:</td>
                        <td>{$dataIndiv.island}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>:</td>
                        <td>{$dataIndiv.country}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Plot</th>
            <td>{$dataIndiv['plot']}</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>{$dataIndiv['tag']}</td>
        </tr>
        {/foreach}
    </table>
    <br />
    
    <table class="browse indiv">    
        <tr>
            <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width:100px;">Observations</th>
            <td>
                {foreach $indiv as $dataIndiv}
                {foreach from=$obs key=myId item=dataObs}
                    <table class="det">
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataObs.name}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataObs.date}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Microhab</b></td>
                            <td>:</td>
                            <td>{$dataObs.microhab}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Habit</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.habit}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>dbh</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.dbh}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Height</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.height}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>bud</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.bud}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Flower</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.flower}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Fruit</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.fruit}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Localname</b></td>
                            <td>:</td>
                            <td><i>{$dataObs.localname}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td>{$dataObs.notes}</td>
                            <td>
                                {if $user.login && $dataObs.personID eq $user.login.id}
                                    <a href="{$basedomain}browse/deleteObs/?id={$dataObs.obsID}&&indivID={$dataObs.indivID}" id="deleteObsOwner" class="btn" style="float: right; margin-left: 10px;;">Delete</a>
                                {/if}
                            </td>
                            
                        </tr>
                    </table>
                    {foreachelse}<i>No observation available</i>
                {/foreach}
                {/foreach}
            </td>
        </tr>
    </table>
    {foreach $indiv as $dataIndiv}
        {if $user.login && $dataIndiv.name != $user.login.name}
            <br />
            <a href="{$basedomain}browse/addObsView/?id={$smarty.get.id}" id="addIndiv" class="btn" style="float: right;">Add Observations</a>
            <div class="clear"></div>
        {/if}
    {/foreach}
    <br />
    
    <table class="browse indiv">
        <tr>
            <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width:100px;">Images</th>
            <td>
                {foreach $img as $dataImg}
                {if $dataImg.md5sum}
                    <a class="gallery" href="{$basedomain}public_assets/img/500px/{$dataImg.md5sum}.500px.jpg"><img src="{$basedomain}public_assets/img/100px/{$dataImg.md5sum}.100px.jpg" /></a>
                {/if}
                
                {foreachelse}<i>No image available</i>
                {/foreach}
            </td>
        </tr>
    </table>
    
    <script type="text/javascript">
        $('a.gallery').colorbox({ opacity:0.5 , rel:'groupIndiv' });
    </script>
    
    <br />
    <table class="browse indiv">    
        <tr>
            <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width:100px;">Determinant</th>
            <td>
                {foreach $indiv as $dataIndiv}
                {foreach from=$det key=myId item=dataDet}
                    <table class="det">
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataDet.name}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataDet.det_date}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Taxon</b></td>
                            <td>:</td>
                            <td><i>{$dataDet.sp}, {$dataDet.gen}, {$dataDet.fam}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confid</b></td>
                            <td>:</td>
                            <td><i>{$dataDet.confid}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Using</b></td>
                            <td>:</td>
                            <td><i>{$dataDet.using}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td><i>{$dataDet.notes}</i></td>
                            <td>
                                {if $user.login && $dataDet.personID eq $user.login.id}
                                    <a href="{$basedomain}browse/deleteDet/?id={$dataDet.detID}&&indivID={$dataDet.indivID}" id="deleteDetOwner" class="btn" style="float: right; margin-left: 10px;;">Delete</a>
                                {/if}
                            </td>
                        </tr>
                    </table>
                    {foreachelse}<i>No determinant available</i>
                {/foreach}
                {/foreach}
            </td>
        </tr>
    </table>
    {/if}
    
    {foreach $indiv as $dataIndiv}
        {if $user.login && $dataIndiv['name'] eq $user.login.name}
            <br />
            <a href="{$basedomain}browse/deleteIndiv/?id={$smarty.get.id}" id="deleteIndiv" class="btn" style="float: right; margin-left: 10px;;">Delete Individu</a>
            <a href="{$basedomain}browse/editIndiv/?id={$smarty.get.id}" id="editIndiv" class="btn" style="float: right;">Edit Individu</a>
            <div class="clear"></div>
        {elseif $user.login}
            <br />
            <a href="{$basedomain}browse/addDetView/?id={$smarty.get.id}" id="addIndiv" class="btn" style="float: right;">Add Determinant</a>
            <div class="clear"></div>
        {/if}
    {/foreach}
</div>

{literal}
    <script>
        $(document).on('click','#deleteIndiv', function(){
            var msg = confirm('Are you sure to delete ?');
            if (!msg) return false;    
        });
        $(document).on('click','#deleteObsOwner', function(){
            var msg = confirm('Are you sure to delete ?');
            if (!msg) return false;    
        });
        $(document).on('click','#deleteDetOwner', function(){
            var msg = confirm('Are you sure to delete ?');
            if (!msg) return false;    
        });
    </script>
{/literal}