<div class="content">
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <h2 class="title">Search Data</h2>
    
    {if $noData eq 'empty'}
        <i>No result found</i>
    {else}
    <i>{$noData} data found</i>
    <div id="search">  
        <form role="form" action="{$basedomain}browse/searchTaxon/" method="GET">
            <div class="search-box">
              <input type="text" placeholder="Search" name="search" />
              <input class="btn-search" type="submit" value="Search" />
              
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    <table class="browse">
        <thead>
            <tr>
                <th>Morphotype</th>
                <th>Family</th>
                <th>Genus</th>
                <th>Species</th>
                <th style="width: 4%;">Action</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataTaxon}
            <tr>
                <td>{$dataTaxon.taxon.morphotype}</td>
                <td>{$dataTaxon.taxon.fam}</td>
                <td>{$dataTaxon.taxon.gen}</td>
                <td>{$dataTaxon.taxon.sp}</td>
                <td><a href="{$basedomain}browse/indiv/?id={$dataTaxon['taxon']['id']}" class="btn">Detail</a></td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/if}
</div>
