<div class="content">
    <h2 class="title">Browse Data</h2>
    
    <div id="search">  
        <form role="form">
            <div class="search-box">
              <input type="text" placeholder="Search" />
              <button class="btn btn-search" type="button">Search</button>
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    
    <table class="browse">
        <thead>
            <tr>
                <th>Species</th>
                <th>Genus</th>
                <th>Family</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataTaxon}
            
            <tr>
                <td><i><a href="{$basedomain}browse/indiv/{$dataTaxon['taxon']['id']}">{$dataTaxon['taxon']['sp']}</a></i></td>
                <td>{$dataTaxon['taxon']['gen']}</td>
                <td>{$dataTaxon['taxon']['fam']}</td>
                <td>
                    {foreach $dataTaxon['img'] as $img}
                     <a class="gallery{$dataTaxon['taxon']['id']}" href="{$basedomain}public_assets/img/500px/{$img['md5sum']}.500px.jpg"><img src="{$basedomain}public_assets/img/100px/{$img['md5sum']}.100px.jpg" /></a>
                    {/foreach}
                </td>
            </tr>
            <script type="text/javascript">
            var a = "{$dataTaxon['taxon']['id']}";
            {literal}
                $('a.gallery'+a).colorbox({ opacity:0.5 , rel:'group'+a });
            {/literal}
            </script>
            {/foreach}
        </tbody>
    </table>
    
    
    
</div>
