<div class="content">
    {$msg}
    {if $noData eq 'empty'}
        <i>No data available</i>
    {else}
    
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <table class="browse indiv">
        {foreach $indiv as $dataIndiv}
        <tr>
            <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width:100px;">Creator</th>
            <td><p>{$dataIndiv['name']}</p></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <table class="det">
                    <tr>
                        <td style="width: 4%;">Longitude</td>
                        <td>:</td>
                        <td style="width: 92%;">{$dataIndiv.longitude}</td>
                    </tr>
                    <tr>
                        <td>Latidude</td>
                        <td>:</td>
                        <td>{$dataIndiv.latitude}</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td>:</td>
                        <td>{$dataIndiv.elev}</td>
                    </tr>
                    <tr>
                        <td>Geomorph</td>
                        <td>:</td>
                        <td>{$dataIndiv.geomorph}</td>
                    </tr>
                    <tr>
                        <td>Locality</td>
                        <td>:</td>
                        <td>{$dataIndiv.locality}</td>
                    </tr>
                    <tr>
                        <td>County</td>
                        <td>:</td>
                        <td>{$dataIndiv.county}</td>
                    </tr>
                    <tr>
                        <td>Province</td>
                        <td>:</td>
                        <td>{$dataIndiv.province}</td>
                    </tr>
                    <tr>
                        <td>Island</td>
                        <td>:</td>
                        <td>{$dataIndiv.island}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>:</td>
                        <td>{$dataIndiv.country}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Plot</th>
            <td>{$dataIndiv['plot']}</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>{$dataIndiv['tag']}</td>
        </tr>
        {/foreach}
        
        <tr>
            <th>Dets</th>
            <td>
                {*foreach $det as $key=>$dataDet*}
                {foreach from=$det key=myId item=dataDet}
                    
                    <table class="det">
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Det Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataDet['name']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataDet['det_date']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Taxon</b></td>
                            <td>:</td>
                            <td><i>{$dataDet.sp}, {$dataDet.gen}, {$dataDet.fam}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confid</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['confid']}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Using</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['using']}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['notes']}</i></td>
                        </tr>
                    </table>
                    
                {/foreach}
            </td>
        </tr>
    </table>
    {/if}
    
    {foreach $indiv as $dataIndiv}
        {if $user.login && $dataIndiv['name'] eq $user.login.name}
            <br />
            <a href="{$basedomain}browse/editIndiv/?id={$smarty.get.id}" id="editIndiv" class="btn" style="float: right;">Edit</a>
            <div class="clear"></div>
        {elseif $user.login}
            <br />
            <a href="{$basedomain}browse/addDetView/?id={$smarty.get.id}" id="addIndiv" class="btn" style="float: right;">Add</a>
            <div class="clear"></div>
        {/if}
    {/foreach}
</div>
