<div class="content">
{$msg}
    {if $noData eq 'empty'}
        <i>No data available</i>
    {else}
    
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <h2 class="title">Edit Individu</h2>
    <form id="formEditIndiv" method="POST" action="{$basedomain}browse/doEditIndiv/?id={$smarty.get.id}">
        <table class="browse indiv">
            {foreach $indiv as $dataIndiv}
            <tr>
                <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width: 100px;">Creator</th>
                <td>{$dataIndiv['name']}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    <select class="inputbox" name="locnID" id="locnID">
                        <option value="">Choose Location</option>
                        {foreach from=$locn item=location}
                            <option id="{$location.id}" value="{$location.id}">{$location.locality}</option>
                        {/foreach}
                    </select>
                    <a href="#locationPopup" class="btn" id="locationPopup">Add</a>
                </td>
                <literal>
                <script type="text/javascript">
                
                    $().ready(function() {
                        var localtity= "{$dataIndiv['locality']}";
                        
                        $("select option").each(function(){
                          if ($(this).text() == localtity)
                            $(this).attr("selected","selected");
                        });
                    });
                
                </script>
                </literal>
            </tr>
            <tr>
                <th>Plot</th>
                <td><input class="inputbox" type="text" name="plot" value="{$dataIndiv['plot']}"/></td>
            </tr>
            <tr>
                <th style="-moz-border-radius: 0 0 0 6px;-webkit-border-radius: 0 0 0 6px;border-radius: 0 0 0 6px;">Tag</th>
                <td><input class="inputbox" type="text" name="tag" value="{$dataIndiv['tag']}"/></td>
            </tr>
             {/foreach}
        </table>
        <br />
        <input class="btn" style="float: right;" type="submit" value="Submit" />
        <div class="clear"></div>
    </form>
    <br />
    
    
    <div class="sidebar-2-left">
        <ul class="step">
            <li>Edit Individu Attribut</li>
            <li><a href="#" id="obsBtn">Edit Observation</a></li>
            <li><a href="#" id="imgBtn">Edit Images</a></li>
            <li><a href="#" id="detBtn">Edit Determinant</a></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">

<!-- Observation table-->
    <div id="editIndiv_obs">
        {include file='editIndiv_obs.html'}
    </div>
    
<!-- Images table-->
    <div id="editIndiv_img">
        {include file='editIndiv_img.html'}
    </div> 

<!-- Determinants table-->
    <div id="editIndiv_det">
        {include file='editIndiv_det.html'}
    </div>     
    
    
    {/if}
    </div>
    <div class="clear"></div>
</div>

<!--START MODAL LOCATION-->
<div id="modal-location" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Location</h2>
                {include file='formLocation.html'}
            </div>
        </div>
    </div>
</div>

<!--START MODAL PERSON-->
<div id="modal-person" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Person</h2>
                {include file='formPerson.html'}
            </div>
        </div>
    </div>
</div>

<!--START MODAL TAXON-->
<div id="modal-taxon" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Taxon</h2>
                {include file='formTaxon.html'}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function() {
    
    $("#formEditIndiv").validate({
        rules: {
            tag: {
                number: true
            },
            locnID: {
                required: true
            }
		},
		messages: {
            tag: {
                number: " Please enter number"
            },
            locnID: {
                required: " Please choose location"
            }
		}
    });
    
    $('a#locationPopup').click(function(){
       $('div#modal-location').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-location').fadeOut(); 
    });
    
    $('#editIndiv_img,#editIndiv_det').hide();
    $('#obsBtn').click(function(){
        $('#editIndiv_img,#editIndiv_det').hide();
        $('#editIndiv_obs').show();
    });
    $('#imgBtn').click(function(){
        $('#editIndiv_obs,#editIndiv_det').hide();
        $('#editIndiv_img').show();
    });
    $('#detBtn').click(function(){
        $('#editIndiv_img,#editIndiv_obs').hide();
        $('#editIndiv_det').show();
    });
    
});
</script>
