<div class="content">
{$msg}
    {if $noData eq 'empty'}
        <i>No data available</i>
    {else}
    
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    <h2 class="title">Edit Individu</h2>
    <form id="formEditIndiv" method="POST" action="{$basedomain}browse/doEditIndiv/?id={$smarty.get.id}">
        <table class="browse indiv">
            {foreach $indiv as $dataIndiv}
            <tr>
                <th style="-moz-border-radius: 6px 0 0 0;-webkit-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0;width: 100px;">Creator</th>
                <td>{$dataIndiv['name']}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    <select class="inputbox" name="locnID" id="locnID">
                        <option value="">Choose Location</option>
                        {foreach from=$locn item=location}
                            <option id="{$location.id}" value="{$location.id}">{$location.locality}</option>
                        {/foreach}
                    </select>
                    <a href="#locationPopup" class="btn" id="locationPopup">Add</a>
                </td>
                <literal>
                <script type="text/javascript">
                
                    $().ready(function() {
                        var localtity= "{$dataIndiv['locality']}";
                        
                        $("select option").each(function(){
                          if ($(this).text() == localtity)
                            $(this).attr("selected","selected");
                        });
                    });
                
                </script>
                </literal>
            </tr>
            <tr>
                <th>Plot</th>
                <td><input class="inputbox" type="text" name="plot" value="{$dataIndiv['plot']}"/></td>
            </tr>
            <tr>
                <th style="-moz-border-radius: 0 0 0 6px;-webkit-border-radius: 0 0 0 6px;border-radius: 0 0 0 6px;">Tag</th>
                <td><input class="inputbox" type="text" name="tag" value="{$dataIndiv['tag']}"/></td>
            </tr>
        </table>
        <br />
        <input class="btn" style="float: right;" type="submit" value="Submit" />
        <div class="clear"></div>
    </form>
    <br />
    
    <h2 class="title">Determinants</h2>
    <table class="browse indiv">
        {/foreach}
        <tr>
            <th style="-moz-border-radius: 6px 0 0 6px;-webkit-border-radius: 6px 0 0 6px;border-radius: 6px 0 0 6px;width: 100px;">Dets</th>
            <td>
                   
                    <table id="editDet" class="det">
                        {foreach from=$det key=myId item=dataDet}
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Det Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataDet['name']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataDet['det_date']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Species</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['sp']}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confid</b></td>
                            <td>:</td>
                            <td>{$dataDet['confid']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Using</b></td>
                            <td>:</td>
                            <td>{$dataDet['using']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td>{$dataDet['notes']}</td>
                        </tr>
                        {/foreach}
                    </table>
                    
                    <div id="tableAddDet" style="display: none;">
                    <h2 class="title">Add Determinant</h2>
                    <form id="formDet" method="POST" action="{$basedomain}browse/addDet/?id={$smarty.get.id}&&action=addDet">
                    <table id="addDet" class="det">
                        <tr>
                            <td class="detNumber"></td>
                            <td class="detHeader"></td>
                            <td class="detColon"></td>
                            <td class="detContent"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Taxon</b></td>
                            <td>:</td>
                            <td>
                                <select class="inputbox" name="taxonID" id="taxonID">
                                    <option value="" selected="1">Choose a taxonomy</option>
                                    {foreach from=$taxon item=itemTaxon}
                                        <option value="{$itemTaxon.id}">
                                        {if $itemTaxon.gen}
                                            {if $itemTaxon.fam}
                                                ({$itemTaxon.fam})
                                            {/if}
                                            {$itemTaxon.gen} {$itemTaxon.sp}
                                        {else}
                                            {$itemTaxon.morphotype}
                                        {/if}
                                        </option>
                                    {/foreach}
                                </select>
                                <a href="#taxon-modal" class="btn" id="taxonPopup">Add</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confidence of determination</b></td>
                            <td>:</td>
                            <td>
                                <select class="inputbox" name="confid" id="confid">
                                    <option value="" selected="1">Choose a level of confidence</option>
                                    {foreach from=$confid_enum item=enum}confid
                                        <option value="{$enum}">{$enum}</option>
                                    {/foreach}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Resources used</b></td>
                            <td>:</td>
                            <td><input class="inputbox" type="text" id="using" name="using" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input class="btn" type="submit" value="Submit" /></td>
                        </tr>
                    </table>
                    </form>
                    </div>
            </td>            
        </tr>
    </table>
    <br />
    <a href="#addDeterminant" class="btn" id="addDet" style="float: right;">Add Determinant</a>
    <div class="clear"></div>
    {/if}
</div>

<!--START MODAL-->
<div id="modal-location" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Location</h2>
                {include file='formLocation_editIndiv.html'}
            </div>
        </div>
    </div>
</div>

<!--START MODAL TAXON-->
<div id="modal-taxon" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Taxon</h2>
                {include file='formTaxon_addDet.html'}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$().ready(function() {
    
    $("#formEditIndiv").validate({
        rules: {
            tag: {
                number: true
            },
            locnID: {
                required: true
            }
		},
		messages: {
            tag: {
                number: " Please enter number"
            },
            locnID: {
                required: " Please choose location"
            }
		}
    });
    
    $("#formDet").validate({
        rules: {
			confid: {
                required: true
			},
            using: {
                required: true
            },
            taxonID: {
                required: true
            }
		},
		messages: {
			confid: {
                required: " Please choose a level"
			},
            using: {
                required: " Please enter a resource"
            },
            taxonID: {
                required: " Please choose a taxonomy"
            }
		}
    });
    
    $('a#locationPopup').click(function(){
       $('div#modal-location').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-location').fadeOut(); 
    });
    
    $('a#addDet').click(function(){
       $('div#tableAddDet').fadeToggle("linear");
    });
    
    $('a#taxonPopup').click(function(){
       $('div#modal-taxon').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-taxon').fadeOut(); 
    });
});
</script>
