<h2 class="title">Determinants</h2>
    <table class="browse indiv">
        <tr>
            <th style="-moz-border-radius: 6px 0 0 6px;-webkit-border-radius: 6px 0 0 6px;border-radius: 6px 0 0 6px;width: 100px;">Dets</th>
            <td>
                   
                    <table id="editDet" class="det">
                        {foreach $indiv as $dataIndiv}
                        {foreach from=$det key=myId item=dataDet}
                        <tr>
                            <td class="detNumber"><b>#{$myId+1}</b></td>
                            <td class="detHeader"><b>Creator</b></td>
                            <td class="detColon">:</td>
                            <td class="detContent">{$dataDet['name']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Date</b></td>
                            <td>:</td>
                            <td>{$dataDet['det_date']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Species</b></td>
                            <td>:</td>
                            <td><i>{$dataDet['sp']}</i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Confid</b></td>
                            <td>:</td>
                            <td>{$dataDet['confid']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Using</b></td>
                            <td>:</td>
                            <td>{$dataDet['using']}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Notes</b></td>
                            <td>:</td>
                            <td>{$dataDet['notes']}</td>
                            <td>
                                {if $user.login && $dataDet.personID eq $user.login.id || $dataIndiv.id eq $user.login.id}
                                    <a href="{$basedomain}browse/deleteDet/?id={$dataDet.detID}&&indivID={$dataDet.indivID}" id="deleteDet" class="btn" style="float: right; margin-left: 10px;;">Delete</a>
                                {/if}
                            </td>
                        </tr>
                        {foreachelse}<i>No determinant available</i>
                        {/foreach}
                        {/foreach}
                    </table>
            </td>            
        </tr>
    </table>
    <br />
    <div id="tableAddDet" style="display: none;">
        <h2 class="title">Add Determinant</h2>
        <form id="formDet" method="POST" action="{$basedomain}browse/addDet/?id={$smarty.get.id}&&action=addDet">
        <table id="addDet" class="form-tbl">
            <tr>
                <td class="detNumber"></td>
                <td class="detHeader"></td>
                <td class="detColon"></td>
                <td class="detContent"></td>
            </tr>
            <tr>
                <td></td>
                <td><b>Taxon</b></td>
                <td>:</td>
                <td>
                <!--<input class="inputbox" type="text" id="autoTaxon" />
                <input class="inputbox" type="hidden" id="taxonID" name="taxonID" value=""/>-->
                <select class="inputbox" name="taxonID" id="taxonID">
                    <option value="" selected="1">Choose a taxonomy</option>
                    {foreach from=$taxon item=itemTaxon}
                        <option value="{$itemTaxon.id}">
                        {if $itemTaxon.gen}
                            {if $itemTaxon.fam}
                                ({$itemTaxon.fam})
                            {/if}
                            {$itemTaxon.gen} {$itemTaxon.sp}
                        {else}
                            {$itemTaxon.morphotype}
                        {/if}
                        </option>
                    {/foreach}
                </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><b>Confidence of determination</b></td>
                <td>:</td>
                <td>
                    <select class="inputbox" name="confid" id="confid">
                        <option value="" selected="1">Choose a level of confidence</option>
                        {foreach from=$confid_enum item=enum}confid
                            <option value="{$enum}">{$enum}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><b>Resources used</b></td>
                <td>:</td>
                <td><input class="inputbox" type="text" id="using" name="using" /></td>
            </tr>
            <tr>
                <td></td>
                <td><b>Determinant creator</b></td>
                <td>:</td>
                <td>
                    <select class="inputbox" name="personID" id="personID">
                        <option value="">Choose a person</option>
                        {foreach from=$person item=itemPerson}
                            <option value="{$itemPerson.id}">{$itemPerson.name}, {$itemPerson.email}</option>
                        {/foreach}
                    </select>
                    <a href="#person-modal" class="btn" id="personPopup">Add</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><b>Notes</b></td>
                <td>:</td>
                <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input class="btn" type="submit" value="Submit" /></td>
            </tr>
        </table>
        </form>
        </div>
            <br/>
    <a href="#addDeterminant" class="btn" id="addDet" style="float: right;">Add Determinant</a>
    <div class="clear"></div>
    
<script type="text/javascript">
    $(document).on('click','#deleteDet', function(){
            var msg = confirm('Are you sure to delete ?');
            if (!msg) return false;    
        });
    
    $('a#addDet').click(function(){
       $('div#tableAddDet').fadeToggle("linear");
    });
    
    $("#formDet").validate({
        rules: {
			confid: {
                required: true
			},
            using: {
                required: true
            },
            taxonID: {
                required: true
            },
            personID: {
                required: true
            }
		},
		messages: {
			confid: {
                required: " Please choose a level"
			},
            using: {
                required: " Please enter a resource"
            },
            taxonID: {
                required: " Please choose a taxonomy"
            },
            taxonID: {
                required: " Please choose a person"
            }
		}
    });
    
    $("#autoTaxon").rules("add", {
        required:true,
        messages: {
            required : " Please choose a taxonomy"
        }
    });
    
    $('a#personPopup').click(function(){
       $('div#modal-person').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-person').fadeOut(); 
    });
    
    $('a#taxonPopup').click(function(){
       $('div#modal-taxon').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-taxon').fadeOut(); 
    });
</script>