<literal>
<script language='javascript' type='text/javascript'>
$().ready(function() {
    
    $("#formPerson").validate({
        rules: {
			name: {
                required: true,
                checkNameExist: {
                    depends: function(element) {
                        // Do what you want to test
                        return $('#name').val()!='{$smarty.session.login.name}';
                      }
                }
			},
			email: {
				required: true,
				email: true,
                checkEmailExist: {
                    depends: function(element) {
                        // Do what you want to test
                        return $('#email').val()!='{$smarty.session.login.email}';
                      }
                }
			},
			twitter: {
				minlength: 2,
                checkTwitterExist: {
                    depends: function(element) {
                        // Do what you want to test
                        return $('#twitter').val()!='{$smarty.session.login.twitter}';
                      }
                }
			},
			website: {
                url: true
			},
            password: {
                required: true,
                checkPassword: true
            }
		},
		messages: {
			name: {
                required: " Please enter a name"
			},
			email: {
                required: " Please enter a valid email address"
			},
			twitter: {
				minlength: " Please enter a valid twitter account"
			},
			website: {
				url: " Please enter a valid url"
			},
            short_namecode: {
                required: " Please enter a shortname",
                minlength: " Your short namecode must be 3 characters long",
                maxlength: " Your short namecode must be 3 characters long"
            }
		}
    });
    
});
</script>
</literal>
<div class="content">
    <div class="sidebar-2-left">
        <ul>
            <li>Setting</li>
            <li class="selected"><a href="#">Edit Profile</a></li>
            <li><a href="{$basedomain}user/editPassword">Password</a></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">
        <h2 class="title">Edit Profile</h2>
        {$msg}
        <form id="formPerson" method="POST" action="{$basedomain}user/doEditProfile">
            <table class="form-tbl">
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input class="inputbox" type="text" id="name" name="name" value="{$smarty.session.login.name}" /></td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                    <td><input class="inputbox" type="text" id="email" name="email" value="{$smarty.session.login.email}"/></td>
                </tr>
                <tr>
                    <td><label for="twitter">Twitter</label></td>
                    <td><input class="inputbox" type="text" id="twitter" name="twitter" value="{$smarty.session.login.twitter}"/></td>
                </tr>
                <tr>
                    <td><label for="website">Website</label></td>
                    <td><input class="inputbox" type="text" id="website" name="website" value="{$smarty.session.login.website}"/></td>
                </tr>
                <tr>
                    <td><label for="phone">Phone</label></td>
                    <td><input class="inputbox" type="text" id="phone" name="phone" value="{$smarty.session.login.phone}"/></td>
                </tr>
                <tr>
                    <td><label for="short_namecode">Short Namecode</label></td>
                    <td><input class="inputbox" type="text" id="short_namecode" name="short_namecode" value="{$smarty.session.login.short_namecode}"/></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input class="inputbox" type="password" id="password" name="password" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn" type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
    
    <div class="clear"></div>
</div>