<div class="container">
    
    <div class="form-signin">
        <form role="form" action="{$basedomain}register/forgotPassword" method="POST">
            <div class="bodyForm bodyForm-signup">
                <h1 class="text-center">Flora<span> Kalbar</span></h1>
                <h5 class="text-center"></h5>
                
                <div id="emailGroup">
                    <input type="email" id="signup-email" class="form-control" name="email" placeholder="Email (Required)" required aria-required="true"/>
                </div>
                <input type="hidden" name="token" value="1"> 
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                <p class="text-right" style="margin-top: 10px;">Already a member? <a href="{$basedomain}login">Login now!</a></p>
            </div>
        </form>
    </div>
</div> <!-- /container -->

<!--Message Modal-->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Flora Kalbar</h4>
        </div>
        <div class="modal-body messageRegister">
            <p>Please wait...</p>
      </div>
    </div>
  </div>
</div>