<form id="formDet" method="POST" action="{$basedomain}onebyone/insertDet">
    <table class="form-tbl">
        <tr>
            <td colspan="2"><label for="">Confidence of determination</label></td>
            <td>
                <select class="inputbox" name="confid" id="confid">
                    <option value="" selected="1">Choose a level of confidence</option>
                    {foreach from=$confid_enum item=enum}
                        <option value="{$enum}">{$enum}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="">Using what resource?</label></td>
            <td><input class="inputbox" type="text" id="using" name="using" /></td>
        </tr>
        <tr>
            <td colspan="2"><label for="notes">Notes</label></td>
            <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
        </tr>
        <tbody id="inputTaxon" style="display: none;">
            <tr>
                <td colspan="2"><label for="">Taxon :</label></td>
                <td>
                    <input type="hidden" id="taxonID" name="taxonID" value=""/>
                    <input class="inputbox" type="text" id="labelTaxon"  disabled="disabled" />
                    <a class="btn" id="resetTaxon">Reset</a>
                </td>
            </tr>
        </tbody>
        <tbody id="autoCompleteTaxon"> <!-- INPUT AUTO COMPLETE TAXON -->
            <tr id="inputFamily">
                <td><label for="">Taxon :</label></td>
                <td><label for="">Family</label></td>
                <td>
                    <input class="inputbox" type="hidden" id="kewid" name="kewid" value=""/>
                    <!--<input class="inputbox" type="text" id="autoTaxon" />
                    <input class="inputbox" type="hidden" id="taxonID" name="taxonID" value=""/>
                    <select class="inputbox" name="taxonID" id="taxonID">
                        <option value="" selected="1">Choose a taxonomy</option>
                        {foreach from=$taxon item=itemTaxon}
                            <option value="{$itemTaxon.id}">
                            {if $itemTaxon.gen}
                                {if $itemTaxon.fam}
                                    ({$itemTaxon.fam})
                                {/if}
                                {$itemTaxon.gen} {$itemTaxon.sp}
                            {else}
                                {$itemTaxon.morphotype}
                            {/if}
                            </option>
                        {/foreach}
    
                    </select>-->
                    
                    <input class="inputbox" type="text" id="autoFamily" name="family" />
                    <a class="btn" id="nextGenus">Next</a>
                </td>
                <td><a href="#taxon-modal" class="btn" id="taxonPopup">New Taxon</a></td>
            </tr>
            <tr id="inputGenus" style="display: none;">
                <td></td>
                <td><label for="">Genus</label></td>
                <td>
                    <input class="inputbox" type="text" id="autoGenus" name="genus" />
                    <a class="btn" id="nextSpecies">Next</a>
                </td>
            </tr>
            <tr id="inputSpecies" style="display: none;">
                <td></td>
                <td><label for="">Species</label></td>
                <td>
                    <input class="inputbox" type="text" id="autoSpecies" name="species" />
                </td>
            </tr>
        </tbody> <!-- END INPUT AUTO COMPLETE TAXON -->
        <tr>
            <td colspan="2"><label for="">Person</label></td>
            <td>
                <select class="inputbox" name="personID" id="personID">
                    <option value="">Choose a person</option>
                    {foreach from=$person item=itemPerson}
                        <option value="{$itemPerson.id}">{$itemPerson.name}, {$itemPerson.email}</option>
                    {/foreach}
                </select>
            </td>
            <td><a href="#person-modal" class="btn" id="personPopup">New Person</a></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td><input class="btn" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
$().ready(function() {
    
    $("#formDet").validate({
        rules: {
			confid: {
                required: true
			},
            using: {
                required: true
            },
            /*taxonID: {
                required: true
            },*/
            personID: {
                required: true
            }
		},
		messages: {
			confid: {
                required: " Please choose a level"
			},
            using: {
                required: " Please enter a resource"
            },
            /*taxonID: {
                required: " Please choose a taxonomy"
            },*/
            personID: {
                required: " Please choose a person"
            }
		}
    });
    /*$("#autoTaxon").rules("add", {
        required:true,
        messages: {
            required : " Please choose a taxonomy"
        }
    });*/
});
</script>
