<form id="formDet" method="POST" action="{$basedomain}onebyone/insertDet">
    <table class="form-tbl">
        <tr>
            <td><label for="">Confidence of determination</label></td>
            <td>
                <select class="inputbox" name="confid" id="confid">
                    <option value="" selected="1">Choose a level of confidence</option>
                    {foreach from=$confid_enum item=enum}confid
                        <option value="{$enum}">{$enum}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="">Using what resource?</label></td>
            <td><input class="inputbox" type="text" id="using" name="using" /></td>
        </tr>
        <tr>
            <td><label for="notes">Notes</label></td>
            <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
        </tr>
        <tr>
            <td><label for="">Taxon</label></td>
            <td>
                <!--<select class="inputbox" name="taxonID" id="taxonID">
                    <option value="" selected="1">Choose a taxonomy</option>
                    {foreach from=$taxon item=itemTaxon}
                        <option value="{$itemTaxon.id}">
                        {if $itemTaxon.gen}
                            {if $itemTaxon.fam}
                                ({$itemTaxon.fam})
                            {/if}
                            {$itemTaxon.gen} {$itemTaxon.sp}
                        {else}
                            {$itemTaxon.morphotype}
                        {/if}
                        </option>
                    {/foreach}
                </select>-->
                <input class="inputbox" type="text" id="autoTaxon" />
                <input class="inputbox" type="hidden" id="taxonID" name="taxonID" />
            </td>
            <td><a href="#taxon-modal" class="btn" id="taxonPopup">Add</a></td>
        </tr>
        <tr>
            <td><label for="">Person</label></td>
            <td>
                <select class="inputbox" name="personID" id="personID">
                    <option value="">Choose a person</option>
                    {foreach from=$person item=itemPerson}
                        <option value="{$itemPerson.id}">{$itemPerson.name}, {$itemPerson.email}</option>
                    {/foreach}
                </select>
            </td>
            <td><a href="#person-modal" class="btn" id="personPopup">Add</a></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
$().ready(function() {
    
    $("#formDet").validate({
        rules: {
			confid: {
                required: true
			},
            using: {
                required: true
            },
            taxonID: {
                required: true
            },
            personID: {
                required: true
            }
		},
		messages: {
			confid: {
                required: " Please choose a level"
			},
            using: {
                required: " Please enter a resource"
            },
            taxonID: {
                required: " Please choose a taxonomy"
            },
            personID: {
                required: " Please choose a person"
            }
		}
    });
});
</script>
