<div>
    <form method="POST" action="{$basedomain}onebyone/insertLocation">
    
        <label for="short_namecode">Short Namecode</label>
        <input type="text" id="short_namecode" name="short_namecode" />
        <br /><br />
        
        <label for="longitude">Longitude</label>
        <input type="text" id="longitude" name="longitude" />
        <br /><br />
        
        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" name="latitude" />
        <br /><br />
        
        <label for="elevation">Elevation ASL (m)</label>
        <input type="text" id="elevation" name="elev" />
        <br /><br />
        
        <label for="geomorph">Geomorph</label>
        <input type="text" id="geomorph" name="geomorph" />
        <br /><br />
        
        <label for="locality">Locality (Descriptive name of place)</label>
        <input type="text" id="locality" name="locality" />
        <br /><br />
        
        <label for="county">County</label>
        <input type="text" id="county" name="county" />
        <br /><br />
        
        <label for="province">Province</label>
        <input type="text" id="province" name="province" />
        <br /><br />
        
        <label for="island">Island</label>
        <input type="text" id="island" name="island" />
        <br /><br />
        
        <label for="country">Country</label>
        <input type="text" id="country" name="country" />
        <br /><br />
        
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes"></textarea>
        <br /><br />
        
        <input type="submit" value="Submit" />
        
    </form>
</div>