<div class="content">
{$msg}
    <div class="sidebar-2-left">
        <ul class="step">
            <li>Insert One By One</li>
            <li class="selected"><p>1. Insert Individual plant</p></li>
            <li><p>2. Insert Identification</p></li>
            <li><p>3. Insert Image</p></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">
        <h2 class="title">Insert Individual plant</h2>
        {include file='formIndiv.html'}
    </div>
    <div class="clear"></div>
</div>

<!--START MODAL-->
<div id="modal-location" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="closebtn close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Insert Location</h2>
                {include file='formLocation.html'}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
{literal}
    $('a#locationPopup').click(function(){
       $('div#modal-location').fadeToggle("linear");
       $('div.modal-overlay').show();
    });
    $('.close,.modal-overlay').click(function(){
       $('div#modal-location').fadeOut(); 
    });
{/literal}
</script>
