<script language='javascript' type='text/javascript'>
$().ready(function() {
    
    $("#formPerson").validate({
        rules: {
			name: {
                required: true,
                checkNameExist: true
			},
			email: {
				required: true,
				email: true,
                checkEmailExist: true
			},
			twitter: {
				minlength: 2,
                checkTwitterExist: true
			},
			website: {
                url: true
			},
            short_namecode: {
                required: true,
                minlength: 3,
                maxlength: 3
            }
		},
		messages: {
			name: {
                required: " Please enter a name"
			},
			email: {
                required: " Please enter a valid email address"
			},
			twitter: {
				minlength: " Please enter a valid twitter account"
			},
			website: {
				url: " Please enter a valid url"
			},
            short_namecode: {
                required: " Please enter a shortname",
                minlength: " Your short namecode must be 3 characters long",
                maxlength: " Your short namecode must be 3 characters long"
            }
		}
    });
});
</script>
<div class="content">
    <h2 class="title">Insert Person</h2>
    {$msg}
    <form id="formPerson" method="POST" action="{$basedomain}onebyone/insertPerson">
        <table class="form-tbl">
            <tr>
                <td><label for="name">Name</label></td>
                <td><input class="inputbox" type="text" id="name" name="name" /></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input class="inputbox" type="text" id="email" name="email" /></td>
            </tr>
            <tr>
                <td><label for="twitter">Twitter</label></td>
                <td><input class="inputbox" type="text" id="twitter" name="twitter" /></td>
            </tr>
            <tr>
                <td><label for="website">Website</label></td>
                <td><input class="inputbox" type="text" id="website" name="website" /></td>
            </tr>
            <tr>
                <td><label for="phone">Phone</label></td>
                <td><input class="inputbox" type="text" id="phone" name="phone" /></td>
            </tr>
            <tr>
                <td><label for="short_namecode">Short Namecode</label></td>
                <td><input class="inputbox" type="text" id="short_namecode" name="short_namecode" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</div>