<div class="content">
{$msg}
    <div class="sidebar-2-left">
        <ul class="step">
            <li>Insert One By One</li>
            <li><p>1. Insert Individu</p></li>
            <li><p>2. Insert Determinant</p></li>
            <li class="selected"><p>3. Insert Image</p></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">
        <h2 class="title">Insert Image</h2>
        {include file='formImage.html'}
    </div>
    <div class="clear"></div>
    <br />
    
    <div class="sidebar-2-right">
        {if isset($image_sess)}
        {if $image_sess}
        <table class="browse">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Plantpart</th>
                    <th>Notes</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {foreach $image_sess as $imageData}
                <tr>
                    <td>{$imageData.filename}</td>
                    <td>{$imageData.plantpart}</td>
                    <td>{$imageData.notes}</td>
                    <td><img src="{$basedomain}/public_assets/img/100px/{$imageData.md5sum}.100px.jpg" /></td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {/if}
        {/if}
    </div>
    <div class="clear"></div>
</div>