<form id="formObs" method="POST" action="{$basedomain}onebyone/insertObs">
    <table class="form-tbl">
        <tr>
            <td><label for="">Microhab</label></td>
            <td><input class="inputbox" type="text" id="microhab" name="microhab" /></td>
        </tr>
        <tr>
            <td><label for="">Habit</label></td>
            <td>
                <select class="inputbox" name="habit" id="habit">
                    <option value="" selected="1">Choose Habit</option>
                    {foreach from=$habit_enum item=enum}
                        <option value="{$enum}">{$enum}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="">Dbh</label></td>
            <td><input class="inputbox" type="text" id="dbh" name="dbh" /></td>
        </tr>
        <tr>
            <td><label for="">Height</label></td>
            <td><input class="inputbox" type="text" id="height" name="height" /></td>
        </tr>
        <tr>
            <td><label for="">Bud</label></td>
            <td>
                <input style="padding:5px;margin-right:5px;" type="radio" name="bud" value="yes" />Yes
                <input style="padding:5px;margin-right:5px;margin-left: 20px;" type="radio" name="bud" value="no" />No
                <label for="bud" class="error"></label>
            </td>
        </tr>
        <tr>
            <td><label for="">Flower</label></td>
            <td>
                <input style="margin-right:5px;" type="radio" name="flower" value="yes" />Yes
                <input style="margin-right:5px;margin-left: 20px;" type="radio" name="flower" value="no" />No
                <label for="flower" class="error"></label>
            </td>
        </tr>
        <tr>
            <td><label for="">Fruit</label></td>
            <td>
                <input style="margin-right:5px;" type="radio" name="fruit" value="yes" />Yes
                <input style="margin-right:5px;margin-left: 20px;" type="radio" name="fruit" value="no" />No
                <label for="fruit" class="error"></label>
            </td>
        </tr>
        <tr>
            <td><label for="">Localname</label></td>
            <td><input class="inputbox" type="text" id="localname" name="localname" /></td>
        </tr>
        <tr>
            <td><label for="notes">Notes</label></td>
            <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
$().ready(function() {
    
    $("#formObs").validate({
        rules: {
			habit: {
                required: true
			},
            dbh: {
                Decimal: true
            },
            height: {
                Decimal: true
            },
            bud: {
                required: true
            },
            flower: {
                required: true
            },
            fruit: {
                required: true
            }
		},
		messages: {
            habit: {
                required: "  Please choose habit"
			},
            bud: {
                required: "&nbsp;&nbsp;&nbsp;&nbsp;Please select the options"
            },
            flower: {
                required: "&nbsp;&nbsp;&nbsp;&nbsp;Please select the options"
            },
            fruit: {
                required: "&nbsp;&nbsp;&nbsp;&nbsp;Please select the options"
            }
		}
    });
});
</script>
