<form id="formImage" method="POST" action="{$basedomain}onebyone/insertImage" enctype="multipart/form-data">
    <table class="form-tbl">
        <tr>
            <td><label for="filename">File Image</label></td>
            <td><input class="inputbox" type="file" id="filename" name="filename" /></td>
        </tr>
        <tr>
            <td><label for="plantpart">Plantpart</label></td>
            <td>
                <select class="inputbox" name="plantpart" id="plantpart">
                    {foreach from=$plantpart_enum item=enum}
                        <option value="{$enum}">{$enum}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="notes">Notes</label></td>
            <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn" type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<script language='javascript' type='text/javascript'>
$().ready(function() {
    
    $("#formImage").validate({
        rules: {
			filename: {
				required: true
			}
		},
		messages: {
			filename: {
                required: " Please choose an image file"
			}
		}
    });
});
</script>