<div class="content">
{$msg}
    <div class="msg"></div>
    <div class="sidebar-2-left">
        <ul class="step">
            <li>Insert One By One</li>
            <li><p>1. Insert Individual plant</p></li>
            <li><p>2. Insert Identification</p></li>
            <li class="selected"><p>3. Insert Observation</p></li>
            <li><p>4. Insert Image</p></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">
        <h2 class="title">Insert Observation</h2>
        {include file='formObs.html'}
    </div>
    <div class="clear"></div>
</div>