<script language='javascript' type='text/javascript'>
$().ready(function() {
    
    $("#formImage").validate({
        rules: {
			filename: {
				required: true
			}
		},
		messages: {
			filename: {
                required: " Please choose an image file"
			}
		}
    });
});
</script>
<div class="content">
    <div class="sidebar-2-left">
        <ul>
            <li>Insert One By One</li>
            <li><a href="{$basedomain}onebyone/location">Insert Location</a></li>
            <li><a href="{$basedomain}onebyone/person">Insert Person</a></li>
            <li><a href="{$basedomain}onebyone/taxon">Insert Taxon</a></li>
            <li class="selected"><a href="{$basedomain}onebyone/image">Insert Image</a></li>
        </ul>
    </div>

    <div class="sidebar-2-right">
        <h2 class="title">Insert Image</h2>
        {$msg}
        <form id="formImage" method="POST" action="{$basedomain}onebyone/insertImage" enctype="multipart/form-data">
            <table class="form-tbl">
                <tr>
                    <td><label for="filename">File Image</label></td>
                    <td><input class="inputbox" type="file" id="filename" name="filename" /></td>
                </tr>
                <tr>
                    <td><label for="plantpart">Plantpart</label></td>
                    <td><input class="inputbox" type="text" id="plantpart" name="plantpart" /></td>
                </tr>
                <tr>
                    <td><label for="notes">Notes</label></td>
                    <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn" type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="clear"></div>
</div>