<div>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <br /><br />
        
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
        <br /><br />
        
        <label for="twitter">Twitter</label>
        <input type="text" id="twitter" name="twitter" />
        <br /><br />
        
        <label for="website">Website</label>
        <input type="text" id="website" name="website" />
        <br /><br />
        
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" />
        <br /><br />
        
        <label for="short_namecode">Short Namecode</label>
        <input type="text" id="short_namecode" name="short_namecode" />
        <br /><br />
        
        <input type="submit" value="Submit" />
        
    </form>
</div>