<div class="wrapper">
    <div id="identity">
        <span id="flora">FLORA</span><span id="kalbar"> KALBAR</span>
    </div>
    <div id="slogan">
        <p>Records of Plants of Kalimantan Barat</p>
    </div>
    
    {if isset($smarty.session.login)}
    
    
    <div id="login"> 
        <a href="{$basedomain}login/doLogout" class="btn welcome">Welcome, {$smarty.session.login.name}</a> 
    </div>
    <div class="clear"></div>
    
    {else}
    <div id="login"> 
        <a href="#signup-modal" id="btn-signup" class="btn signup">Sign Up</a> 
        <a href="#login-modal" id="btn-login" class="btn login">Login</a> 
    </div>
    <div class="clear"></div>
	{/if}
</div>