{$test}

{foreach $test as $val}

    {$val}
{/foreach}
<article class="article" href="http://www.teguhsantoso.com/2011/01/biodiversitas-definisi-dan-batasan.html">
	<div>
		<h3>Biodiversitas</h3>
		<p>
			Biodiversitas adalah keanekaragaman di antara makhluk hidup dari semua sumber termasuk di antaranya daratan, lautan, dan ekosistem akuatik lain serta kompleks-kompleks ekologis yang merupakan bagian dari keanekaragamannya; mencakup keanekaragaman di dalam spesies, di antara spesies, dan ekosistem.

		</p>
		<p>
			WWF (1989) menyebut biodiversitas sebagai keanekaragaman hidup di bumi, mencakup jutaan spesies tumbuhan, hewan, mikroorganisme; materi genetik yang dikandungnya; serta ekosistem yang dibangun sehingga menjadi sebuah linkungan hidup.

		</p>
		
	</div>
	<img src="" alt=""/>
</article>
