
    <div class="content">
        <article class="article" href="http://www.teguhsantoso.com/2011/01/biodiversitas-definisi-dan-batasan.html">
        	<div>
        		<h2 class="title">Citizen Science Solution For National Biodiversity Data Needs</h2>
                <h5>Developing a Plant checklist for West Kalimantan, Indonesia.</h5></br>
        		
                <p>
        			Software and Tools developments. Data acquisition and collection tools, social network, research log using mobile devices and digital reference library that has inter-operability feature.
        
        		</p>
        		<p>
        			Capacity building. Intensive training courses (2 locations), and CodeCamp for botanists and computer scientists.
        
        		</p>
                <p>
                    Expedition. 15 days expeditions and data will be uploaded and integrated directly. Participants will be equipped with digital camera, netbook and wireless internet connection.
        
                </p>
                <p>
                    Data match – validation. Photographs and data will be matched by technicians at the national herbarium via the developed system. Much of Indonesia's biodivesrity may be lost forever before it is ever recorded
                </p>
                
        		
        	</div>
        	<img src="" alt=""/>
        </article>
    </div>
