{include file="meta.html"}
<body>
	<!-- RUNNING GLOBAL VAR -->
	<script>
		var basedomain = "{$basedomain}";
	</script>
	
	<!-- HEADER -->
    <header>
		{include file="header.html"}
		
	</header>
    
    <!-- NAVIGATION MENU -->
    <nav>
		{include file="menu.html"}
		
	</nav>
	
	
	<!-- CONTENT -->
	<main>
	<div class="wrapper">
		
		{$content}
	</div>
	</main>
    
    <!-- MODAL -->
	{include file="modal.html"}
   
	
	
	<!-- FOOTER -->
    <footer>
		{include file="footer.html"}
		
	</footer>
	
</body> 
</html>