<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{$basedomain}/assets/css/florakb-style.css"/>
    <link rel="stylesheet" type="text/css" href="{$basedomain}/assets/css/messages.css"/>
    <link rel="stylesheet" type="text/css" href="{$basedomain}/assets/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="{$basedomain}/assets/css/screen.css"/>
    <script type="text/javascript" src="{$basedomain}/assets/js/globalHelper.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/ajaxUpload.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/ajaxLogin.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/jquery.form.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/jquery-ui.js"></script>
    <script type="text/javascript" src="{$basedomain}/assets/js/jquery.validate.min.js"></script>
</head>

<script type="text/javascript">
baseUrl = "{$basedomain}";
</script>
