<div class="content">
    <div class="sidebar-2-left">
        <ul class="step">
            <li>Insert One By One</li>
            <li class="selected"><p>1. Insert Individu</p></li>
            <li><p>2. step 2</p></li>
            <li><p>2. step 2</p></li>
            <li><p>2. step 2</p></li>
        </ul>
    </div>

    <div class="sidebar-2-right">
        <h2 class="title">Test UI</h2>
        <form id="formImage" method="POST" action="">
            <table class="form-tbl">
                <tr>
                    <td><label for="">input text</label></td>
                    <td><input class="inputbox" type="text" id="" name="" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="">File</label></td>
                    <td><input class="inputbox" type="file" id="" name="" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="">Dropdown</label></td>
                    <td>
                        <select class="inputbox" name="" id="">
                            <option value="1">Test 1</option>
                            <option value="2">Test 2</option>
                        </select>
                    </td>
                    <td><a href="#testOnebyone-modal" class="btn" id="testPopup">Add</a></td>
                </tr>
                <tr>
                    <td><label for="notes">Notes</label></td>
                    <td><textarea class="textareabox" id="notes" name="notes"></textarea></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn" type="submit" value="Submit" /></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="clear"></div>
</div>

<!--START MODAL-->
<div id="modal-testOnebyone" class="modal-background">
    <div class="modal-overlay"></div>
    <div class="modal-dialog dialogStep">
        <button type="button" class="close"></button>
        <div class="modal-content">
            <div class="modal-body bodyStep">
              <h2 class="title">Test UI</h2>
              <form id="formImage" method="POST" action="">
                <table class="form-tbl">
                    <tr>
                        <td><label for="">input text</label></td>
                        <td><input class="inputbox" type="text" id="" name="" /></td>
                    </tr>
                    <tr>
                        <td><label for="">File</label></td>
                        <td><input class="inputbox" type="file" id="" name="" /></td>
                    </tr>
                    <tr>
                        <td><label for="">Dropdown</label></td>
                        <td>
                            <select class="inputbox selectStep" name="" id="">
                                <option value="1">Test 1</option>
                                <option value="2">Test 2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="notes">Notes</label></td>
                        <td><textarea class="textareabox areaStep" id="notes" name="notes"></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn" type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
{literal}
    	$('a#testPopup').click(function(){
           $('div#modal-testOnebyone').fadeToggle("linear");
           $('div.modal-overlay').show();
        });
        $('.close,.modal-overlay').click(function(){
           $('div#modal-testOnebyone').fadeOut(); 
        });
{/literal}
</script>