<!--<div>
    <div class="errorbox"></div>
	Upload Zip :
    <form onsubmit="return validateFormUpload();" id="upload_file" method="POST" action="{$basedomain}upload/zip" enctype="multipart/form-data">
        <label for="username">Username :</label>
        <input name="username" id="username" />
        <label for="zip_file">Zip File :</label>
        <input name="imagezip" id="zip_file" type="file" />
        <input id="box_button" type="submit" value="Submit" />
    </form>
    <div id="progressbox">
        <div id="progressbar">
            <div id="statustxt">
                <p></p>
            </div>
            <div id="report"></div>
        </div>
    </div>
</div> -->
<style>

.progress { position:relative; width:400px; border: 0px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
<div class="content">

    <div class="sidebar-2-left">
        <ul class="step">
            <li>Batch Upload</li>
            <li class="selected"><p>Step 1 - Upload Excel</p></li>
            <li><p>Step 2 - Extract Zip</p></li>
        </ul>
    </div>
    
    <div class="sidebar-2-right">
    	<h2 class="title">Upload Excel :</h2> 
        <form method="POST" action="{$basedomain}upload/parseExcel" enctype="multipart/form-data" id="uploadExcel">
            <table class="form-tbl">
                <tr>
                    <td>
                        <label for="zip_file">Browse Excel File : <br /></label>
                    </td>
                    <td><input name="excelfile" id="zip_file" type="file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn" id="box_button" type="submit" value="Submit" /></td>
                </tr>
            </table>    

        </form>
        
    	<div class="progress" style="margin-top: 15px;">
            {*}<div class="bar"></div >
            <div class="percent">0%</div >{/*}
        </div>
        
        <div id="status"></div>
    </div>
    
    <div class="clear"></div>
</div>
<script>
{literal}
	(function() {
	   
    var first_error = '<div class="messages erroren"><a href="#" class="closeMessage"></a><p>';
    var first_info = '<div class="messages info"><a href="#" class="closeMessage"></a><p>';
    var first_success = '<div class="messages success"><a href="#" class="closeMessage"></a><p>';
    var first_warning = '<div class="messages warning"><a href="#" class="closeMessage"></a><p>';
    var end = '</p></div>';
		
	var bar = $('.bar');
	var percent = $('.percent');
	var status = $('#status');
	});   

    /*
	$('#uploadExcel').ajaxForm({
		beforeSend: function() {
			status.empty();
			var percentVal = '0%';
			bar.width(percentVal)
			percent.html(percentVal);
		},
		uploadProgress: function(event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			var zip_file = $('#zip_file').val();
			if (zip_file){
				bar.width(percentVal)
				percent.html(percentVal);
			}
			
		},
		success: function() {
			var percentVal = '100%';
			var zip_file = $('#zip_file').val();
			
			if (zip_file){
				bar.width(percentVal)
				percent.html(percentVal);
			}
		},
		complete: function(xhr) {
			status.html(first_info + xhr.responseText + end);
		}
	}); 
    */
	  
    var uploadXlsFile = {
        dataType:  'json',  
        beforeSubmit: function(data) { 
             
            $(".progress").html("Please wait ..."); 
                 
        },
        success : function(data) {      
            $(".progress").html('');
            if(data.status){
                         
                     
                var htmlThanks ="";
                htmlThanks = "<p class='postSucces'>"+data.msg+"</p>";
                $(".progress").html(htmlThanks);


                if (data.finish){
                    setTimeout(function(){
                        window.location.href=basedomain+'zip';
                    },2000);
                }
                

            }else{

                $(".progress").html(data.msg);
            }
                     
        }
    };                  

    $("#uploadExcel").ajaxForm(uploadXlsFile);

{/literal}
</script>