<!--<div>
    <div class="errorbox"></div>
	Upload Zip :
    <form onsubmit="return validateFormUpload();" id="upload_file" method="POST" action="{$basedomain}upload/zip" enctype="multipart/form-data">
        <label for="username">Username :</label>
        <input name="username" id="username" />
        <label for="zip_file">Zip File :</label>
        <input name="imagezip" id="zip_file" type="file" />
        <input id="box_button" type="submit" value="Submit" />
    </form>
    <div id="progressbox">
        <div id="progressbar">
            <div id="statustxt">
                <p></p>
            </div>
            <div id="report"></div>
        </div>
    </div>
</div> -->
<style>

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
<div>
	Upload Excel :
    <form method="POST" action="{$basedomain}upload/parseExcel" enctype="multipart/form-data" id="uploadExcel">
        <label for="zip_file"></label>
        <input name="tes" id="zip_file" type="file" />
        <input type="submit" value="Submit" />
    </form>
	<div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
    
    <div id="status"></div>
</div>

<script>
{literal}
	(function() {
		
	var bar = $('.bar');
	var percent = $('.percent');
	var status = $('#status');
	
	$('#uploadExcel').ajaxForm({
		beforeSend: function() {
			status.empty();
			var percentVal = '0%';
			bar.width(percentVal)
			percent.html(percentVal);
		},
		uploadProgress: function(event, position, total, percentComplete) {
			var percentVal = percentComplete + '%';
			var zip_file = $('#zip_file').val();
			if (zip_file){
				bar.width(percentVal)
				percent.html(percentVal);
			}
			
		},
		success: function() {
			var percentVal = '100%';
			var zip_file = $('#zip_file').val();
			
			if (zip_file){
				bar.width(percentVal)
				percent.html(percentVal);
			}
		},
		complete: function(xhr) {
			status.html(xhr.responseText);
		}
	}); 

	})();       
{/literal}
</script>