<div class="content">
    <h2 class="title">Extract ZIP</h2>
    <div class="message"></div>
    <div class="errorbox"></div>
    <form onsubmit="zipExtract();return false;" id="extract_zip" method="POST" action=""> <!-- zipExtract();return false; -->
        <table class="form-tbl">
            <!--
            <tr>
                <td><label for="username">Short Name</label></td>
                <td><input class="inputbox" name="username" id="username" /></td>
            </tr>
            -->
            
            <tr>
                <td><label for="email">Email</label></td>
                <td><input class="inputbox" name="email" id="email" value="{$smarty.session.login.email}" /></td>
            </tr>
            
            
            <tr>
                <td>
                    <label for="zip_file">Filename<br /><i>(with zip extention ex. User-date.zip)</i></label>
                </td>
                <td><input class="inputbox" name="imagezip" id="zip_file" type="text" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" id="box_button" type="submit" value="Submit" /></td>
            </tr>
        </table>    
    </form>
</div>