<div class="content">
    <div class="btn-back">
        <a href="#" onClick="history.back();return false;"><span>Back</span></a>
    </div>
    <div class="clear"></div>
    <br />
    
    {foreach $title as $dataTitle}
        {if $dataTitle eq ''}
            
        {else}<h2 class="title">{$dataTitle['sp']}</h2>
        {/if}
    {/foreach}
    
    {if $noData eq 'empty'}
        <i>No data available</i>
    {else}
<!--    
    <div id="search">  
        <form role="form">
            <div class="search-box">
              <input type="text" placeholder="Search" />
              <button class="btn btn-search" type="button">Search</button>
            </div>
        </form>
    </div>
    <div class="clear"></div> 
-->
    
    
    <table class="browse">
        <thead>
            <tr>
                <th style="width: 4%;">Indiv Code</th>
                <th>Location</th>
                <th>Creator</th>
                <th>Images</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataIndiv}
            <tr>
                <td>{$dataIndiv['indiv']['indivID']}</td>
                <td>{$dataIndiv.indiv.locality}</td>
                <td>{$dataIndiv['indiv']['name']}</td>
                <td>
                    {foreach $dataIndiv['img'] as $img}
                    {if $img['md5sum']}
                     <a class="gallery{$dataIndiv['indiv']['indivID']}" href="{$basedomain}public_assets/img/500px/{$img['md5sum']}.500px.jpg"><img src="{$basedomain}public_assets/img/100px/{$img['md5sum']}.100px.jpg" /></a>
                     {/if}
                     {foreachelse}<i>No image available</i>
                        
                    {/foreach}
                </td>
                <td><a href="{$basedomain}browse/indivDetail/?id={$dataIndiv['indiv']['indivID']}" class="btn">Detail</a></td>
            </tr>
            <script type="text/javascript">
            var a = "{$dataIndiv['indiv']['indivID']}";
            {literal}
                $('a.gallery'+a).colorbox({ opacity:0.5 , rel:'group'+a });
            {/literal}
            </script>
            {/foreach}
        </tbody>
    </table>
    {/if}
    
    <br />
    {if $noData eq 'empty'}
    {else}
    <div align="center">
        {if $pageno eq '1'}
            <button class="btn btn-pagination">FIRST</button> <button class="btn">PREV</button>
        {else}
            <a href='{$basedomain}browse/indiv/?id={$smarty.get.id}&&action={$smarty.get.action}&&pageno=1' class="btn btn-pagination">FIRST</a>
            {$prevpage = $pageno-1}
            <a href='{$basedomain}browse/indiv/?id={$smarty.get.id}&&action={$smarty.get.action}&&pageno={$prevpage}' class="btn btn-pagination">PREV</a>
        {/if}
        Page {$pageno} of {$lastpage}
        {if $pageno eq $lastpage}
            <button class="btn btn-pagination">NEXT</button> <button class="btn btn-pagination">LAST</button>
        {else}
            {$nextpage = $pageno+1}
            <a href='{$basedomain}browse/indiv/?id={$smarty.get.id}&&action={$smarty.get.action}&&pageno={$nextpage}' class="btn btn-pagination">NEXT</a>
            <a href='{$basedomain}browse/indiv/?id={$smarty.get.id}&&action={$smarty.get.action}&&pageno={$lastpage}' class="btn btn-pagination">LAST</a>
        {/if}
    {/if}
    </div>
    
</div>
