<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="florakb-content">
        <h3>Data Lokasi</h3>
        
        {if $noData eq 'empty'}
            <a href="#" class="btn florakb-btn pull-right" onClick="history.back();return false;"><span class="glyphicon glyphicon-chevron-left"></span> Kembali</a>
            <br />
            <i>Tidak ada data</i>
        {else}
        
        <table id="allLocation" class="table table-striped table-bordered florakb-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Long,Lat</th>
                        <th>Elevation</th>
                        <th>Geomorph</th>
                        <th>Lokalitas</th>
                        <th>Daerah</th>
                        <th>Provinsi</th>
                        <th>Pulau</th>
                        <th>Negara</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
         
                <tbody>
                    {foreach $result as $dataLocn}
                        <tr>
                            <td>{$dataLocn.longitude},{$dataLocn.latitude}</td>
                            <td>{$dataLocn.elev}</td>
                            <td>{$dataLocn.geomorph}</td>
                            <td>{$dataLocn.locality}</td>
                            <td>{$dataLocn.county}</td>
                            <td>{$dataLocn.province}</td>
                            <td>{$dataLocn.island}</td>
                            <td>{$dataLocn.country}</td>
                            <td><a href="{$basedomain}browse/indiv/?id={$dataLocn.id}&&action=indivLocn" class="btn florakb-btn">Detail</a></td>
                        </tr>
                    {/foreach} 
                </tbody>
            </table>
        {/if}
    </div>
</div>