<div class="content">    
    <h2 class="title">Browse Data Taxon</h2>
    
    {if $noData eq 'empty'}
        <div class="btn-back">
            <a href="#" onClick="history.back();return false;"><span>Back</span></a>
        </div>
        <div class="clear"></div>
        <br />
        <i>No data available</i>
    {else}
    <div id="search">  
        <form role="form" action="{$basedomain}browse/searchTaxon/" method="GET">
            <div class="search-box">
              <input type="text" placeholder="Search" name="search" />
              <input class="btn-search" type="submit" value="Search" />
              
            </div>
        </form>
    </div>
    <div class="clear"></div> 
    
    <table class="browse">
        <thead>
            <tr>
                <th>Morphotype</th>
                <th>Family</th>
                <th>Genus</th>
                <th>Species</th>
                <th>Images</th>
                <th style="width: 4%;">Action</th>
            </tr>
        </thead>
        <tbody>
            
            {foreach $data as $dataTaxon}
            <tr>
                <td>{$dataTaxon.taxon.morphotype}</td>
                <td>{$dataTaxon.taxon.fam}</td>
                <td>{$dataTaxon.taxon.gen}</td>
                <td>{$dataTaxon.taxon.sp}</td>
                <td>
                    {foreach $dataTaxon['img'] as $img}
                     {if $img['md5sum']}
                     <a class="gallery{$dataTaxon['taxon']['id']}" href="{$basedomain}public_assets/img/500px/{$img['md5sum']}.500px.jpg"><img src="{$basedomain}public_assets/img/100px/{$img['md5sum']}.100px.jpg" /></a>
                     
                     {/if}
                     {foreachelse}<i>No image available</i>
                    {/foreach}
                </td>
                <td><a href="{$basedomain}browse/indiv/?id={$dataTaxon['taxon']['id']}&&action=indivTaxon" class="btn">Detail</a></td>
            </tr>
            <script type="text/javascript">
            var a = "{$dataTaxon['taxon']['id']}";
            {literal}
                $('a.gallery'+a).colorbox({ opacity:0.5 , rel:'group'+a });
            {/literal}
            </script>
            {/foreach}
        </tbody>
    </table>
    {/if}
    
    <br />
    
    {if $noData eq 'empty'}
    {else}
    
    <div align="center">
        {if $pageno eq '1'}
            <button class="btn btn-pagination">FIRST</button> <button class="btn">PREV</button>
        {else}
            <a href='{$basedomain}browse/dataTaxon/?pageno=1' class="btn btn-pagination">FIRST</a>
            {$prevpage = $pageno-1}
            <a href='{$basedomain}browse/dataTaxon/?pageno={$prevpage}' class="btn btn-pagination">PREV</a>
        {/if}
        Page {$pageno} of {$lastpage}
        {if $pageno eq $lastpage}
            <button class="btn btn-pagination">NEXT</button> <button class="btn btn-pagination">LAST</button>
        {else}
            {$nextpage = $pageno+1}
            <a href='{$basedomain}browse/dataTaxon/?pageno={$nextpage}' class="btn btn-pagination">NEXT</a>
            <a href='{$basedomain}browse/dataTaxon/?pageno={$lastpage}' class="btn btn-pagination">LAST</a>
        {/if}
    {/if}
    </div>
</div>
